@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

<!-- Impressum Start -->
<section id="impressum">
    <div class="section-header">
        <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
            <div class="parallax-inner" data-depth="1.5">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/joinmedia-2560-810.jpg" media="(min-width: 120em)" />
                    <source srcset="/img/section-header/joinmedia-1920-810.jpg" media="(min-width: 80em)" />
                    <source srcset="/img/section-header/joinmedia-1280-810.jpg" media="(min-width: 60em)" />
                    <source srcset="/img/section-header/joinmedia-960-810.jpg" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/joinmedia-768-600.jpg" alt="Logo im Eingangsbereich" class="parallax-img" style="margin: -6.25% 0;" />
                </picture>
            </div>
            <div class="parallax-layer" data-depth="1.8">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/icons/devices_outlines.svg" type="image/svg+xml" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/icons/devices_outlines.png" alt="Device Lab" class="parallax-img" />
                </picture>
            </div>
        </div>

        <div class="sh-content">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <h2>Impressum</h2>
            </div>
        </div>
    </div>

    <div class="block fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
        <div class="page-constrained">
            <div class="block-content">
                <h3>Sitz der Gesellschaft</h3>
                <p>Mülheim an der Ruhr<br />
                Amtsgericht Duisburg<br />
                HRA 10225</p>

                <h3>Persönlich haftende Gesellschafter</h3>
                <p>join.media Verwaltungsgesellschaft mbH<br />
                Amtsgericht Duisburg<br />
                HRB 19872</p>
                        
                <h3>Geschäftsführung</h3>
                <p itemprop="founders">Sönke Götzen und Peter Wolf</p>

                <h3>Steuer-ID-Nr.</h3>
                <p itemprop="taxID">120/5875/0873</p>

                <h3>Umsatzsteuer-ID-Nr.</h3>
                <p itemprop="vatID">DE258192702</p>
                        
                <h3>Inhaltlich verantwortlich</h3>
                <p>Sönke Götzen</p>

                <h3>Kontakt</h3>
                <address>
                    <span itemprop="name">join.media GmbH &amp; Co. KG</span><br />
                    <span itemprop="address">Düsseldorfer Straße 269<br />
                    45481 Mülheim an der Ruhr</span>
                </address>
                        
                <p>Fon: <a class="link" href="tel:+49208960320" itemprop="telephone">+49 (0) 208 / 960 32 - 0</a><br />
                Fax: <span itemprop="faxNumber">+49 (0) 208 / 960 32 - 10</span><br />
                <a class="link" href="mailto:info@joinmedia.de" itemprop="email">info@joinmedia.de</a></p>

                <h3>Haftungsausschluss</h3>
                <p>Die auf dieser Website bereitgestellten Inhalte wurden sorgfältig geprüft und werden regelmäßig aktualisiert. Jedoch wird keine Haftung oder Garantie dafür übernommen, dass alle Angaben zu jeder Zeit vollständig, korrekt und in letzter Aktualität dargestellt werden. Dies gilt für alle Links zu anderen Websites, auf die direkt oder indirekt verwiesen wird. Alle Angaben können ohne vorherige Ankündigung geändert, entfernt oder ergänzt werden. Weder die Veröffentlichung noch ihr Inhalt dürfen ohne die vorherige schriftliche Genehmigung von join.media auf irgendeine Art verändert oder an Dritte weitergegeben oder übermittelt werden.</p>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="page-constrained">
            <div class="block-content">
                <h3>Datenschutzerklärung</h3>
                <h5>Geltungsbereich</h5>
                <p>Diese Datenschutzerklärung klärt Nutzer über die Art, den Umfang und Zwecke der Erhebung und Verwendung personenbezogener Daten durch den verantwortlichen Anbieter join.media GmbH &amp; Co. KG, Düsseldorfer Straße 269, 45481 Mülheim an der Ruhr, info@joinmedia.de, +49 (0) 208 / 960 32 - 0 auf dieser Website (im folgenden “Angebot”) auf.</p>
                <p>Die rechtlichen Grundlagen des Datenschutzes finden sich im Bundesdatenschutzgesetz (BDSG) und dem Telemediengesetz (TMG).</p>
                <h5>Zugriffsdaten/ Server-Logfiles</h5>
                <p>Der Anbieter (beziehungsweise sein Webspace-Provider) erhebt Daten über jeden Zugriff auf das Angebot (so genannte Serverlogfiles). Zu den Zugriffsdaten gehören:</p>
                <p>Name der abgerufenen Webseite, Datei, Datum und Uhrzeit des Abrufs, übertragene Datenmenge, Meldung über erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor besuchte Seite), IP-Adresse und der anfragende Provider.</p>
                <p>Der Anbieter verwendet die Protokolldaten nur für statistische Auswertungen zum Zweck des Betriebs, der Sicherheit und der Optimierung des Angebotes. Der Anbieterbehält sich jedoch vor, die Protokolldaten nachträglich zu überprüfen, wenn aufgrund konkreter Anhaltspunkte der berechtigte Verdacht einer rechtswidrigen Nutzung besteht.</p>
                <h5>Kontaktaufnahme</h5>
                <p>Bei der Kontaktaufnahme mit dem Anbieter (zum Beispiel per Kontaktformular oder E-Mail) werden die Angaben des Nutzers zwecks Bearbeitung der Anfrage sowie für den Fall, dass Anschlussfragen entstehen, gespeichert.</p>
                <h5>Einbindung von Diensten und Inhalten Dritter</h5>
                <p>Es kann vorkommen, dass innerhalb dieses Onlineangebotes Inhalte Dritter, wie zum Beispiel Videos von YouTube, Kartenmaterial von Google-Maps, RSS-Feeds oder Grafiken von anderen Webseiten eingebunden werden. Dies setzt immer voraus, dass die Anbieter dieser Inhalte (nachfolgend bezeichnet als "Dritt-Anbieter") die IP-Adresse der Nutzer wahr nehmen. Denn ohne die IP-Adresse, könnten sie die Inhalte nicht an den Browser des jeweiligen Nutzers senden. Die IP-Adresse ist damit für die Darstellung dieser Inhalte erforderlich. Wir bemühen uns nur solche Inhalte zu verwenden, deren jeweilige Anbieter die IP-Adresse lediglich zur Auslieferung der Inhalte verwenden. Jedoch haben wir keinen Einfluss darauf, falls die Dritt-Anbieter die IP-Adresse z.B. für statistische Zwecke speichern. Soweit dies uns bekannt ist, klären wir die Nutzer darüber auf.</p>
                <h5>Google Analytics</h5>
                <p>Dieses Angebot benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Computer der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website durch sie ermöglichen. Die durch den Cookie erzeugten Informationen über Benutzung dieser Website durch die Nutzer werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</p>
                <p>Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird die IP-Adresse der Nutzer von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Die IP-Anonymisierung ist auf dieser Website aktiv. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um die Nutzung der Website durch die Nutzer auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.</p>
                <p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Die Nutzer können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; Dieses Angebot weist die Nutzer jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Die Nutzer können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a class="link" href="http://tools.google.com/dlpage/gaoptout?hl=de" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://tools.google.com/dlpage/gaoptout?hl=de']);">http://tools.google.com/dlpage/gaoptout?hl=de</a></p>
                <p>Alternativ zum Browser-Add-On oder innerhalb von Browsern auf mobilen Geräten, <a class="link" id="GAOptOut" title="Google Analytics Opt-Out-Cookie setzen" href="javascript:gaOptout()">klicken Sie bitte diesen Link</a>, um die Erfassung durch Google Analytics innerhalb dieser Website zukünftig zu verhindern. Dabei wird ein Opt-Out-Cookie auf Ihrem Gerät abgelegt. Löschen Sie Ihre Cookies, müssen Sie diesen Link erneut klicken.</p>
                <h5>Widerruf, Änderungen, Berichtigungen und Aktualisierungen</h5>
                <p>Der Nutzer hat das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten, die über ihn gespeichert wurden. Zusätzlich hat der Nutzer das Recht auf Berichtigung unrichtiger Daten, Sperrung und Löschung seiner personenbezogenen Daten, soweit dem keine gesetzliche Aufbewahrungspflicht entgegensteht.</p>
            </div>
        </div>
    </div>
</section>
<!-- Impressum Ende -->