@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title;
}

<!-- Stage Start -->
<section class="stage" id="stage" data-jmname="section-toggle" data-jmdominit="true">
    <div class="stage-bg" data-jmname="set-viewport-height" data-jmdominit="true">
        <div class="cover">
            <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
                <div class="parallax-inner" data-depth="1.5">
                    <picture class="parallax-img">
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/section-header/stage-2560-1680.jpg" media="(min-width: 120em)" />
                        <source srcset="/img/section-header/stage-1600-1050.jpg" media="(min-width: 80em)" />
                        <source srcset="/img/section-header/stage-1024-672.jpg" media="(min-width: 60em)" />
                        <source srcset="/img/section-header/stage-768-504.jpg" media="(min-width: 48em)" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/section-header/stage-480-315.jpg" alt="Entwicklungsumgebung" class="cover-img" />
                    </picture>
                </div>
            </div>
        </div>
    </div>

    <div class="stage-header">
        <div class="page-constrained fade-in-up" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
            <h1><span class="principal">Erfolgreiche Technologien</span> <span class="principal">für die Umsetzung</span> <span class="principal">Ihres Internet-Projektes</span></h1>
        </div>
    </div>

    <div class="stage-main">
        <div class="page-constrained fade-in-up" data-jmname="add-remove-show-on-view-not-mobile|equalheights-not-mobile" data-jmdominit="true">
        <h2 class="is-vishidden">Aktuelles</h2>
        <a class="teaser" href="#customers-ay-yildiz" data-jmname="anchor">
            <div class="t-inner">
                <header class="t-header" data-jmselector="equal-heights-children">
                    <h3 class="t-head">Relaunch von AYYILDIZ.de</h3>
                </header>
                <div class="t-content">
                    <p>join.media launcht responsiven Telekommunikations-Shop.</p>
                </div>
            </div>
        </a>

        <a class="teaser" href="#customers-kalbini-duyur" data-jmname="anchor">
            <div class="t-inner">
                <header class="t-header" data-jmselector="equal-heights-children">
                    <h3 class="t-head">Launch von KALBINI-DUYUR.de</h3>
                </header>
                <div class="t-content">
                    <p>join.media launcht kalbini-duyur.de – sozial, responsiv und schnell.</p>
                </div>
            </div>
        </a>

        <a class="teaser" href="#customers-base-landingpages" data-jmname="anchor">
            <div class="t-inner">
                <header class="t-header" data-jmselector="equal-heights-children">
                    <h3 class="t-head">BASE<br />Landingpages</h3>
                </header>
                <div class="t-content">
                    <p>Entwicklung redaktionell erstellter SEO/SEA-Landingpages</p>
                </div>
            </div>
        </a>
        </div>
    </div>
    <div class="stage-footer">
    	<a class="go-down" href="#joinmedia" data-jmname="anchor"></a>
    </div>
</section>
<!-- Stage Ende -->

<!-- join.media Start -->
<section id="joinmedia" data-jmname="section-toggle|set-related-navi-item-activ-on-view" data-jmdominit="true">
    <a class="go-up" href="#stage" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
    <div class="section-header">
        <div class="sh-content">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
                <h2>join.media</h2>
            </div>
        </div>
        <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
            <div class="parallax-inner" data-depth="1.5">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/joinmedia-2560-810.jpg" media="(min-width: 120em)" />
                    <source srcset="/img/section-header/joinmedia-1920-810.jpg" media="(min-width: 80em)" />
                    <source srcset="/img/section-header/joinmedia-1280-810.jpg" media="(min-width: 60em)" />
                    <source srcset="/img/section-header/joinmedia-960-810.jpg" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/joinmedia-768-600.jpg" alt="Logo im Eingangsbereich" class="parallax-img" style="margin: -6.25% 0;" />
                </picture>
            </div>
            <div class="parallax-layer" data-depth="1.8">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/icons/devices_outlines.svg" type="image/svg+xml" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/icons/devices_outlines.png" alt="Device Lab" class="parallax-img" />
                </picture>
            </div>
        </div>
    </div>

    <div class="block fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
        <div class="page-constrained">
            <div class="block-content">
                <p>Wir unterstützen unsere Kunden in allen technischen Bereichen bei der Umsetzung von Internetprojekten.</p>
                <p>Unter Verwendung aktuellster Technologien gliedern sich unsere Lösungen dabei hervorragend in die bestehenden Prozesse und technischen Umgebungen unserer Kunden ein.</p>
                <p>Von uns erstellte Websites sind auf Wunsch responsiv für alle Endgeräte optimiert.</p>
                <p>Durch unsere 14-jährige Tätigkeit in der Produktion von Internetpräsenzen für führende Marken haben wir Erfahrung in der Abbildung nahezu aller E-Commerce und Marketing-Maßnahmen sammeln können.</p>
                <p>Dabei haben wir uns auf die Zusammenarbeit mit Agenturen und schnell agierenden Unternehmen spezialisiert und kennen die besonderen Anforderungen durch zeitliche Vorgaben, kurze Release-Zyklen und Flexibilität – wir sind für Projekte jeder Größenordnung gut aufgestellt.</p>
            </div>
        </div>
    </div>
    <a class="go-down" href="#services" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
</section>
<!-- join.media Ende -->

<!-- Leistungen Start -->
<section id="services" data-jmname="section-toggle|set-related-navi-item-activ-on-view" data-jmdominit="true">
    <a class="go-up" href="#joinmedia" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
    <div class="section-header">
        <div class="parallax" data-jmname="parallax-content-scrollY" data-jmconfig="{ 'actionOffsetTop': '60%', 'actionOffsetBottom': '150%', 'animationRange': '-1.18' }" data-jmdominit="true">
            <div class="parallax-layer" data-depth="1.6">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/screen1.png" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/screen1s.png" alt="" class="parallax-img" />
                </picture>
            </div>
            <div class="parallax-layer" data-depth="0.4">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/screen2.png" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/screen2s.png" alt="" class="parallax-img" />
                </picture>
            </div>
            <div class="parallax-layer" data-depth="-0.8">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/screen3.png" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/screen3s.png" alt="" class="parallax-img" />
                </picture>
            </div>
        </div>

        <div class="sh-content">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
                <h2>Leistungen</h2>
            </div>
        </div>
    </div>

    <article class="block img-right img-center">
        <div class="page-constrained">
            <div class="block-figure fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/technologie_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/technologie_outline.png" alt="Icon für Applikations-Produktion" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content fade-in-up" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Applikations-Produktion</h3>
                <p>join.media realisiert als technischer Partner die Umsetzung aller wichtigen Prozesse im Internet:</p>
                <p>Unsere Websites integrieren sich auf Wunsch hervorragend in bestehende oder neue Umgebungen wie Content-Management-, Shop-, Warenwirtschafts- und CRM-Systeme.</p>
                <p>Darüber hinaus haben wir bereits zahlreiche Marketing-Maßnahmen wie die Realisierung von SEO-/SEA-Maßnahmen, die Integration von A/B- oder multivariatem Testing oder die Einbindung von Fremdinhalten wiederholt umgesetzt.</p>
                <p>Hinzu kommt unsere umfangreiche Erfahrung bei der Integration von Facebook oder Youtube sowie der Erstellung von Facebook-Apps.</p>
                <p>Dies alles leisten wir unter Berücksichtigung höchster Sicherheitsstandards, nach denen unsere Applikationen regelmäßig auditiert werden.</p>
            </div>
        </div>
    </article>

    <article class="block img-left img-center">
        <div class="page-constrained">
            <div class="block-figure fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/webdesign_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/webdesign_outline.png" alt="Icon für Website-Produktion" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content fade-in-up" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Website-Produktion</h3>
                <p>join.media plant und realisiert komplexe, responsive Websites im Marketing- und E-Commerce-Umfeld.</p>
                <p>Hier können wir alle Maßnahmen moderner Webentwicklung leisten, auf Wunsch unter Berücksichtigung strategischer Vorgaben von Darstellungs- und Ladezeiten, was durch die Optimierung speziell für mobile Endgeräte hohe Conversion-Gewinne bringen kann.</p>
                <p>Unser Leistungsangebot reicht hierbei vom responsiven Rebrush einer bestehenden Site über umfangreichen Beratung bezüglich sinnvoller Erweiterungs- und Optimierungsmaßnahmen bis zur Planung neuer Projekte.</p>
            </div>
        </div>
    </article>

    <article class="block img-right img-center">
        <div class="page-constrained">
            <div class="block-figure fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/beratung_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/beratung_outline.png" alt="Icon für Beratung sowie UX- und Web-Design" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content fade-in-up" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Beratung sowie UX- und Web-Design</h3>
                <p>Auf Wunsch unterstützen wir unsere Partner durch unser Know-How in allen wichtigen Disziplinen der Website-Erstellung.</p>
                <p>Gerne unterstützen wir bei der Strategie- und Konzeptentwicklung: Aufgrund der Analyse von Zielgruppe und Nutzerverhalten erstellen wir ein bedürfnisorientiertes Konzept unter Berücksichtigung optimaler Nutzerführung.</p>
                <p>Mit unserer Erfahrung in der Optimierung des Nutzererlebnisses helfen wir, eine Steigerung der Conversion-Rate und andere strategische Ziele zu erreichen.</p>
                <p>Unsere Designer erstellen bei Bedarf ein auf dieses Ziel ausgerichtetes Design – ob auf Basis Ihrer Vorgaben oder ohne.</p>
                <p>Hierbei liegt der Fokus auf maximaler Usability auf den unterschiedlichsten Endgeräten: also der besten Darstellung nicht nur  auf Desktops, sondern auch auf Handys, Tablets und SmartTVs.</p>
            </div>
        </div>
    </article>

    <article class="block img-left img-center">
        <div class="page-constrained">
            <div class="block-figure fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/marketing_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/marketing_outline.png" alt="Icon für Online-Marketing" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content fade-in-up" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Online-Marketing</h3>
                <p>Um Ihre Website zum Erfolg zu führen, bedient join.media gemeinsam mit sorgfältig ausgewählten Partnern alle Kanäle, um den User zu bewerben und qualifiziert auf Ihre Webpräsenz zu lenken.</p>
                <p>Ob Suchmaschinen&shy;marketing, Social Media Marketing oder Affiliate Marketing – join.media stellt Ihnen die Tools zur Verfügung, um die Wirtschaft&shy;lichkeit der einzelnen Maß&shy;nahmen laufend zu überwachen und zu optimieren.</p>
            </div>
        </div>
    </article>

    <article class="block img-right img-center">
        <div class="page-constrained">
            <div class="block-figure fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/qualitaetssicherung_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/qualitaetssicherung_outline.png" alt="Icon für Qualitätssicherung" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content fade-in-up" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Qualitätssicherung</h3>
                <p>Unser ausgeklügeltes, auf DIN EN ISO 9001 basierendes Qualitäts&shy;manage&shy;ment sorgt dafür, dass Ihre Website ausgiebigen Tests durch uns unter&shy;zogen wird. So stellen wir sicher, dass die Website in den verschieden&shy;sten Browsern auf verschiedenen Endgeräten bedienbar ist und sämtliche Entwicklungs&shy;ziele erreicht worden sind.</p>
                <p>Darüber hinaus schützen wir Websites umfangreich gegen Phishing-, XSS-, und andere Angriffe.</p>
            </div>
        </div>
    </article>

    <article class="block img-left img-center">
        <div class="page-constrained">
            <div class="block-figure fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/betrieb_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/betrieb_outline.png" alt="Icon für Betrieb" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content fade-in-up" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Betrieb</h3>
                <p>Natürlich kümmern wir uns auch darum, Ihre Website sicher zu hosten, nach der Inbetrieb&shy;nahme technisch zu überwachen und den Traffic zu analysieren.</p>
                <p>Zur technischen Überwachung gehört u.a., die Funktion aller Prozesse laufend automatisiert zu überprüfen. Tritt doch einmal unerwartet ein Fehler auf, werden Sie und wir sofort benach&shy;richtigt und es starten auto&shy;matische und manuelle Fehler&shy;behebungs&shy;prozesse – auf Wunsch mit einer Service-Verfügbarkeit rund um die Uhr.</p>
                <p>Die Analyse des Traffics beinhaltet wiederum die Beobachtung der Konversionen und des Nutzer&shy;verhaltens, um schnellstmöglich auf sich änderndes Nutzer&shy;verhalten reagieren zu können oder proaktiv neue Erschließungs&shy;methoden zu testen.</p>
            </div>
        </div>
    </article>
    <a class="go-down" href="#customers" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
</section>
<!-- Leistungen Ende -->

<!-- Kunden Start -->
<section id="customers" data-jmname="section-toggle|set-related-navi-item-activ-on-view" data-jmdominit="true">
    <a class="go-up" href="#services" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
    <div class="section-header">
        <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
            <div class="parallax-inner" data-depth="1.5">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/kunden-2560-810.jpg" media="(min-width: 120em)" />
                    <source srcset="/img/section-header/kunden-1920-810.jpg" media="(min-width: 80em)" />
                    <source srcset="/img/section-header/kunden-1280-810.jpg" media="(min-width: 60em)" />
                    <source srcset="/img/section-header/kunden-960-810.jpg" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/kunden-768-600.jpg" alt="Konferenzraum" class="parallax-img" style="margin: -6.25% 0;" />
                </picture>
            </div>
        </div>

        <div class="sh-content">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
                <h2>Kunden</h2>
            </div>
        </div>

        <div class="sh-content-append-on-mobile">
            <ul class="tiles tiles-1x4">
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/eplusgruppe.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/eplusgruppe.png" alt="E-Plus Gruppe Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/base.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/base.png" alt="Base Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/ayyildiz.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/ayyildiz.png" alt="Ay Yildiz Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/hidrostal.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/hidrostal.png" alt="Hidrostal Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/cunda.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/cunda.png" alt="C&amp;A Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/ferrero.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/ferrero.png" alt="Ferrero Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/lared.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/lared.png" alt="La Red Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/police.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/police.png" alt="Police Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/mitsui.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/mitsui.png" alt="Mitsui Logo" />
                    </picture>
                </li>
                <li class="tile">
                    <picture>
                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                        <source srcset="/img/logos/grey.svg" type="image/svg+xml" />
                        <!--[if IE 9]></video><![endif]-->
                        <img srcset="/img/logos/grey.png" alt="Grey Logo" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>

    <article class="block img-right" id="customers-ay-yildiz">
        <div class="page-constrained">
            <div class="block-figure slide-in-right fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-ayyildiz.png" alt="Screenshots vom AYYILDIZ Relaunch">
            </div>
            <div class="block-content slide-in-left fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>join.media launcht responsiven Telko-Shop</h3>
                <p>Zusammen mit AY YILDIZ ist die neue Unternehmens-Website entwickelt worden. Die Website der großen Ethno-Mobilfunk-Marke wurde komplett responsiv mit Fokus auf maximale Conversion-Optimierung umgesetzt und erzielt Bestnoten in der Geschwindigkeits-Analyse.</p>
            </div>
        </div>
    </article>

    <article class="block img-left" id="customers-kalbini-duyur">
        <div class="page-constrained">
            <div class="block-figure slide-in-left fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-kalbini-duyur.png" alt="Screenshots vom Kalbini Duyur Launch">
            </div>
            <div class="block-content slide-in-right fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>join.media launcht kalbini-duyur.de – sozial, responsiv und schnell.</h3>
                <p>In Zusammenarbeit mit AY YILDIZ hat die responsive Kampagnenseite „Kalbini Duyur (Lass Dein Herz sprechen) - weil Du was zu sagen hast" gelauncht. Über 3500 Fans haben sich beworben, um zu den neuen Werbestars von AY YILDIZ zu gehören.</p>
            </div>
        </div>
    </article>

    <article class="block img-right">
        <div class="page-constrained">
            <div class="block-figure slide-in-right fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-knh.png" alt="Screenshots der Kindernothilfe SEA-Landingpage">
            </div>
            <div class="block-content slide-in-left fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Kindernothilfe</h3>
                <p>Im Rahmen des Online Fundraising-Programms der Kindernothilfe wurde von join.media eine responsive SEA-Landingpage realisiert, über die eine Patenschaft zu notleidenden Kindern angemeldet oder Spenden überwiesen werden konnten.</p>
            </div>
        </div>
    </article>

    <article class="block img-left">
        <div class="page-constrained">
            <div class="block-figure slide-in-left fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-base-mein-konto.png" alt="Screenshots vom BASE-ECC">
            </div>
            <div class="block-content slide-in-right fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>BASE Mein Konto</h3>
                <p>Das BASE-ECC (Electronic Customer Care) ist ein umfangreicher Online Service, der den BASE-Kunden die Möglichkeit bietet, ihre Verträge komfortabel zu verwalten und ihre Rechnungen online abzurufen. Eine kontext-sensitive Teaseraussteuerung erzeugt eine individuell passende Angebotsdarstellung. Die mobile Version bietet eine optimale Zugänglichkeit auch für Smartphone-User.</p>
            </div>
        </div>
    </article>

    <article class="block img-right">
        <div class="page-constrained">
            <div class="block-figure slide-in-right fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-fk-quiz.png" alt="Screenshots vom Freundeskreis und MachPlus">
            </div>
            <div class="block-content slide-in-left fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Freundeskreis und MachPlus</h3>
                <p>Für die Bestandskunden-Marketingmaßnahme „Freundeskreis“ wurden exklusiv für BASE-Kunden regelmäßig verschiedene Online-Gewinnspiele realisiert. Hierbei wurde der Community-Charakter durch kommunikative Aspekte und Interaktionsmöglichkeiten hervorgehoben und direkt in die Kundenbindung investiert.</p>
            </div>
        </div>
    </article>

    <article class="block img-left">
        <div class="page-constrained">
            <div class="block-figure slide-in-left fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-lederfabrikhotel.png" alt="Screenshots vom Lederfabrik Online-Auftritt">
            </div>
            <div class="block-content slide-in-right fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Lederfabrik</h3>
                <p>Das Hotel Lederfabrik in Mülheim hat mit einem attraktiven One-Pager einen repräsentativen und zeitgemäßen Online-Auftritt erhalten. Zugänglichkeit für Suchmaschinen und die Optimierung auf relevante Suchbegriffe erleichtern die Auffindbarkeit der Seite im Netz. Buchungsanfragen können direkt online getätigt werden.</p>
            </div>
        </div>
    </article>

    <article class="block img-right">
        <div class="page-constrained">
            <div class="block-figure slide-in-right fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-mein-eplus.png" alt="Screenshots von Mein E-Plus">
            </div>
            <div class="block-content slide-in-left fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>Mein E-Plus</h3>
                <p>Mit dem Online-Service „Mein E-Plus“ wird dem Mobilfunkkunden die Möglichkeit geboten, Konto- und Tarif-Angelegenheiten online zu verwalten. Die mobile Version bietet einen komfortablen Zugang zu dem Angebot für mobile Endgeräte.</p>
            </div>
        </div>
    </article>

    <article class="block img-left" id="customers-base-landingpages">
        <div class="page-constrained">
            <div class="block-figure slide-in-left fade-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
                <img src="/img/referenzen/showcase-seo-sea.png" alt="Screenshots der BASE SEO/SEA Landingpages">
            </div>
            <div class="block-content slide-in-right fade-in" data-jmname="add-remove-show-on-view-not-ios7" data-jmdominit="true">
                <h3>SEO/SEA Landingpage</h3>
                <p>Für Online-Kampagnen der Marke BASE wurde hier ein Tool entwickelt, mit dem SEO- und SEA-optimierte Landingpages redaktionell „on the fly“ aufgesetzt werden können. Dies bietet dem Online Marketing Management die Möglichkeit, kostengünstig und schnell Angebote im Web prominent zu lancieren. Durch die Verwendung von zentralem Content ist die begleitende Pflege minimal.</p>
            </div>
        </div>
    </article>
    <a class="go-down" href="#agency" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
</section>
<!-- Kunden Ende -->

<!-- Agentur Start -->
<section id="agency" data-jmname="section-toggle|set-related-navi-item-activ-on-view" data-jmdominit="true">
    <a class="go-up" href="#customers" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
    <div class="section-header">
        <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
            <div class="parallax-inner" data-depth="1.5">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/agentur-2560-810.jpg" media="(min-width: 120em)" />
                    <source srcset="/img/section-header/agentur-1920-810.jpg" media="(min-width: 80em)" />
                    <source srcset="/img/section-header/agentur-1280-810.jpg" media="(min-width: 60em)" />
                    <source srcset="/img/section-header/agentur-960-810.jpg" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/agentur-768-600.jpg" alt="Eingangsbereich" class="parallax-img" style="margin: -6.25% 0;" />
                </picture>
            </div>
        </div>

        <div class="sh-content">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
                <h2>Agentur</h2>
            </div>
        </div>
    </div>

    <article class="block img-right">
        <div class="page-constrained fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
            <div class="block-content">
                <h3>Einblick</h3>
                <p>Die Agentur join.media wurde im Jahr 2000 im Rahmen eines Spin-off der Argonauten (digitale Kom&shy;mu&shy;ni&shy;ka&shy;ti&shy;ons&shy;agentur der Grey-Gruppe) ge&shy;grün&shy;det und be&shy;schäftigt derzeit 30 Mitarbeiter. Wir sind ein in&shy;novativer Anbieter von E-Commerce-, Website- und anderen digitalen Lösungen und arbeiten sowohl für namhafte inter&shy;nationale Konzerne wie auch für mittel&shy;ständische deutsche Unternehmen.</p>
            </div>
            <div class="block-figure">
                <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
                    <div class="parallax-inner" data-depth="2">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/fotos/devicelab-1600-1067.jpg" media="(min-width: 80em)" />
                            <source srcset="/img/fotos/devicelab-1280-854.jpg" media="(min-width: 60em)" />
                            <source srcset="/img/fotos/devicelab-960-641.jpg" media="(min-width: 48em)" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/fotos/devicelab-768-513.jpg" alt="" class="parallax-img" style="margin: -10% 0;" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article class="block img-left">
        <div class="page-constrained fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
            <div class="block-content">
                <h3>Team</h3>
                <p>Bei join.media arbeiten Spe&shy;zi&shy;a&shy;li&shy;sten aus allen Bereichen einer Internet-Agentur. Unsere Mitarbeiter zeichnen sich vor allem durch folgendes aus:</p>
                <p>Sie denken nicht nur in Ihrer Spe&shy;zi&shy;a&shy;li&shy;sie&shy;rung, sondern wissen auch, worauf es im Gesamt&shy;bild einer Website ankommt. So erstellen die Web-Designer bereits beim Layout-Entwurf HTML-Seiten, um dem Kunden auf dem Desktop und dem Handy bedienbare Proto&shy;typen zur Freigabe vorzulegen. Die UX-Designer er&shy;arbeiten gemeinsam mit den Web-Entwicklern den zweck&shy;mäßigsten Weg zur Um&shy;setzung ihrer Ideen. Die Web-Entwickler wiederum konzipieren bereits vom Anfang des Projektes an gemeinsam mit den Designern. Nur durch die Zusammen&shy;arbeit dieser Fach&shy;bereiche kann sichergestellt werden, dass die spe&shy;zi&shy;fische Website so um&shy;gesetzt wird, dass sie auf sämt&shy;lichen End&shy;geräten optimal funktioniert.</p>
            </div>
            <div class="block-figure">
                <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
                    <div class="parallax-inner" data-depth="2">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/fotos/meeting-1600-1067.jpg" media="(min-width: 80em)" />
                            <source srcset="/img/fotos/meeting-1280-854.jpg" media="(min-width: 60em)" />
                            <source srcset="/img/fotos/meeting-960-641.jpg" media="(min-width: 48em)" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/fotos/meeting-768-513.jpg" alt="" class="parallax-img" style="margin: -10% 0;" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <a class="go-down" href="#jobs" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
</section>
<!-- Agentur Ende -->

<!-- Jobs Start -->
<section id="jobs" data-jmname="section-toggle|set-related-navi-item-activ-on-view" data-jmdominit="true">
    <a class="go-up" href="#agency" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
    <div class="section-header">
        <div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
            <div class="parallax-inner" data-depth="1.5">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="/img/section-header/jobs-2560-810.jpg" media="(min-width: 120em)" />
                    <source srcset="/img/section-header/jobs-1920-810.jpg" media="(min-width: 80em)" />
                    <source srcset="/img/section-header/jobs-1280-810.jpg" media="(min-width: 60em)" />
                    <source srcset="/img/section-header/jobs-960-810.jpg" media="(min-width: 48em)" />
                    <!--[if IE 9]></video><![endif]-->
                    <img srcset="/img/section-header/jobs-768-600.jpg" alt="Konferenzraum" class="parallax-img" style="margin: -6.25% 0;" />
                </picture>
            </div>
        </div>

        <div class="sh-content">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
                <h2>Jobs</h2>
            </div>
        </div>
    </div>

    <div class="block img-left img-center">
        <div class="page-constrained fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
            <div class="block-figure">
                <div class="block-vertical-center">
                    <div class="block-vertical-center-inner">
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/img/icons/jobs_outline.svg" type="image/svg+xml" />
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/img/icons/jobs_outline.png" alt="Icon für Jobs" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="block-content">
                <p>Arbeiten bei join.media heißt, sich mit den sich täglich ändernden Mög&shy;lich&shy;keiten und Anforderungen des Webs weiter zu entwickeln: Wir haben den Anspruch, alle wichtigen Ent&shy;wick&shy;lungen im Internet intensiv zu beobachten und mit&shy;zu&shy;gestalten.</p>
                <p>Das bedeutet auch, im Team ständig über seinen fach&shy;lichen Teller&shy;rand hin&shy;aus&shy;zu&shy;schauen und Website-Design als Ganzes zu verstehen.</p>
                <p>Wenn du dich bei uns bewirbst, er&shy;war&shy;ten wir, dass du den Willen hast, ein Spezialist in deinem Fach&shy;gebiet, mit einem aus&shy;geprägten Verständnis für die anderen an der Ent&shy;wicklung von Websites beteiligten Bereiche, zu werden.</p>
            </div>
        </div>
    </div>

    <div class="page-constrained">
        <div class="tabs">
            <input type="radio" id="tab1" name="tab" class="tab-control" checked />
            <label for="tab1" class="tab">Internet - Redakteur (m/w) freiberuflich</label>
            <input type="radio" id="tab2" name="tab" class="tab-control" />
            <label for="tab2" class="tab">Initiativbewerbung</label>
            <article class="tab-content">
                <h3>Internet - Redakteur (m/w) freiberuflich</h3>

                <h4>Wen wir suchen</h4>
                <p>Wir sind aktuell auf der Suche nach einem freiberuflichen Redakteur, der uns projektweise unterstützen kann. Idealerweise hast du bereits für Agenturen im Bereich der digitalen Kommunikation gearbeitet.</p>
                <p itemprop="educationRequirements">Du hast Erfahrung in der professionellen Erstellung von Internettexten und deren redaktioneller Bearbeitung. Dein ebenso pragmatischer wie klarer Schreibstil lässt dich komplizierte Dinge einfach ausdrücken. Es gelingt dir, Informationen übersichtlich und leicht erfassbar zu strukturieren und sie in Einklang mit einem modernen Web-Design zu bringen.</p>

                <h4>Deine Aufgabenschwerpunkte</h4>
                <ul class="bullet-list" itemprop="responsibilities">
                    <li class="list-item">Aufbereitung unterschiedlicher Themen</li>
                    <li class="list-item">Erstellen von Texten auf Basis von Briefings und Recherche</li>
                    <li class="list-item">Definition und Management der Anforderungen an den Kunden</li>
                    <li class="list-item">Ansprache unterschiedlicher Anspruchs- und Zielgruppen</li>
                    <li class="list-item">Arbeit mit redaktionellen Inhalten in unterschiedlichen Stilformen</li>
                    <li class="list-item">Schreiben unter Verwendung von SEO - Keywords</li>
                </ul>

                <h4>Was du mitbringen solltest</h4>
                <ul class="bullet-list" itemprop="experienceRequirements qualifications skills">
                    <li class="list-item">Berufliche Erfahrung als Online-Texter / Redakteur (bitte Referenzen angeben)</li>
                    <li class="list-item">Hohes Maß an Kundenorientierung</li>
                    <li class="list-item">Erfahrung mit CMS (z.B. Drupal, TYPO3) und Content Models bzw. -Typen</li>
                    <li class="list-item">Sehr gutes Sprachgefühl und Stilsicherheit</li>
                    <li class="list-item">Fähigkeit Content Strategien eigenständig zu entwickeln</li>
                    <li class="list-item">Engagement und Verantwortungsbewusstsein</li>
                    <li class="list-item">Humor und Begeisterungsfähigkeit</li>
                    <li class="list-item">Fließende Deutsch- und Englischkenntnisse</li>
                </ul>

                <h4 >Was wir dir bieten</h4>
                <ul class="bullet-list" itemprop="benefits">
                    <li class="list-item">Eine faire Bezahlung</li>
                    <li class="list-item">Eigenverantwortung, Spass und interessante Projekte</li>
                    <li class="list-item">Kaffee, Wasser und Freitags-Feierabend-Bier</li>
                    <li class="list-item">Eine Büroküche, in der man richtig kochen kann</li>
                </ul>

                <p>Wenn du dich in einem jungen, dynamischen und internationalen Team wohlfühlst und auf der Suche nach einer neuen Heraus​forderung in einem abwechslungsreichen Tätigkeitsfeld mit spannenden Produkten bist, freuen wir uns, dich kennenzulernen. Schicke bitte deine Bewerbung unter Angabe deines Stunden- oder Tagessatzes ein​fach per E-Mail an: <a class="link" href="mailto:karriere@joinmedia.de">karriere@joinmedia.de</a>.</p>
                <p>Gerne kannst Du dich aber auch unter der Nummer <a class="link" href="tel:+492089603220">0208/96032-20</a> an Gunter wenden.</p>
            </article>
            <article class="tab-content">
                <h3>Initiativbewerbung</h3>
                <p>Begeistert dich das Internet und hast du bereits professionelle Erfahrungen mit der Konzeption, Gestaltung, Erstellung oder Pflege von Websites gemacht? Hast du Lust, diese Kenntnisse zu vertiefen und dich und join.media weiter zu entwickeln? Dann bist du bei uns genau richtig. Wir bieten dir ein abwechslungsreiches Tätigkeitsfeld mit spannenden Kunden und Projekten.</p>
                <p>Schicke deine Bewerbung einfach per E-Mail an <a class="link" href="mailto:karriere@joinmedia.de">karriere@joinmedia.de</a>. Gerne kannst du dich aber auch unter der Nummer <a class="link" href="tel:+492089603220">0208/96032-20</a> an Gunter wenden.</p>
            </article>
        </div>
    </div>
    <a class="go-down" href="#contact" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
</section>
<!-- Jobs Ende -->

<!-- Kontakt Start -->
<section id="contact" data-jmname="section-toggle|set-related-navi-item-activ-on-view" data-jmdominit="true">
    <a class="go-up" href="#jobs" data-jmname="anchor-visible-on-perf1" data-jmdominit="true"></a>
    <div class="section-header">
        <div id="map-canvas"></div>

        <div class="sh-content-map">
            <div class="sh-headline fade-in-left" data-jmname="add-remove-show-on-view-not-mobile" data-jmdominit="true">
                <h2>Kontakt</h2>
            </div>
        </div>
    </div>

    <div class="page-constrained fade-in-up" data-jmname="add-remove-show-on-view" data-jmdominit="true">
        <div class="togglebox">
            <a class="tb-subject" href="#" data-jmname="togglebox">So erreichen Sie uns</a>
            <div class="tb-content">
                <h3>Standort</h3>
                <p>Mit Mülheim an der Ruhr hat die Internetagentur join.media einen zentralen Standort mitten in NRW mit Anbindung an die Großstädte des Ruhrgebiets wie Essen, Dortmund oder Bochum. Auch Köln und Düsseldorf sind nahegelegen. Dieser zentrale Standort bietet uns die Möglichkeit, im Rahmen des Web Design Prozesses notwendige Entscheidungen bzgl. eines Relaunch oder Rebrush Projekts gemeinsam mit dem Kunden zu treffen.</p>
                <p>Während der Umsetzung eines Relaunchs einer responsiven Website steht im Mittelpunkt, dass Ihre Website oder Ihr Webshop optimal auf mobilen Endgeräten dargestellt wird. Hierbei können wir auf die langjährige Erfahrung in der Umsetzung von Onlineshops innerhalb unserer Agentur zurückgreifen.</p>
            </div>
        </div>

        <address id="vcard-joinmedia" class="card vcard org" itemscope itemtype="//schema.org/Corporation">
            <div class="vc-section">
                <span class="org" itemprop="name"><span class="fn">join.media</span> GmbH &amp; Co. KG</span><br />
                <span class="adr" itemprop="address">
                    <span class="street-address">Düsseldorfer Straße 269</span><br />
                    <span class="postal-code">45481</span><span class="locality"> Mülheim an der Ruhr</span><br />
                    <span class="country-name">Deutschland</span>
                </span>
            </div>
            <div class="vc-section">
                <div>Ihr Ansprechpartner: Sönke Götzen</div>
                <div class="tel"><span class="type">Fon: </span><a href="tel:+49208960320" itemprop="telephone">+49 (0) 208 / 960 32 - 0</a></div>
                <div class="tel"><span class="type">Fax: </span><span itemprop="faxNumber">+49 (0) 208 / 960 32 - 10</span></div>
                <div class="email"><a href="mailto:info@joinmedia.de" itemprop="email">info@joinmedia.de</a></div>
            </div>
            <div class="vc-section">
                <p>Bitte parken Sie auf dem Gelände von Autohaus Wolf und dem Lederfabrik-Hotel. Sie finden uns im 3. Obergeschoss des Backsteinbaus. Der Eingangsbereich liegt links neben dem Schornstein.</p>
            </div>
        </address>
    </div>
</section>
<!-- Kontakt Ende -->