body {
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

#brand-jm {
	width: 35%;
	background-color: #d41;
	border-radius: 2px;
	padding: 5px;
}


.btn-primary {
	color: #fff;
	background-color: #d41;
	border-color: #e51;
}

.btn-primary:hover {
	color: #fff;
	background-color: #e51;
	border-color: #d41;
}