<h2>Upload</h2>
<form action="/Content/_Upload" data-jmname="form" data-jmdominit="true" method="POST" enctype="multipart/form-data">
    <div>
        <a data-jmname="fotoupload" data-jmdominit="true">Foto zum Beitrag hinzufügen</a>
        <input accept="image/*; capture=camera" data-rule-jmfilesize="20971520" name="fallbackfile" type="file" />
        <div class="form-upload-canvas"></div>
    	<button type="submit">hochladen</button>
    </div>
</form>
