<?xml version="1.0" encoding="utf-8" ?>
<autofac>
	<!-- Über Components können spezifische Registrationen bei AutoFac bekannt gemacht werden -->
	<components>
		<!--<component
      type="test.logic.ApplicationManager, test.logic"
      service="test.logic.contracts.IApplicationManager, test.logic.contracts"
      instance-scope="single-instance"/>-->
	</components>
	<!-- Über Modules können die Moduldefinitionen in DLLs bei AutoFac bekannt gemacht werden -->
	<modules>
		<!-- Beispieldefinition
		<module type="<DLL>.ModuleDefinition, <DLL>" />
		<module type="JM.Business.ModuleDefinition, JM.Business" />
		-->
	</modules>
</autofac>