// ------------------------------------------------------------
// Sassaparilla - http://sass.fffunction.co/
// ------------------------------------------------------------

@import "compass/typography/vertical_rhythm";

$show-grid-backgrounds:     false;           // Globaler Schalter zum Anzeigen der Baselines
$show-baseline-grid:        true;           // Zeigt das Grundraster
$show-typo-baseline-grid:   false;          // Zeigt ein Raster zu den jeweiligen Elementen

@mixin baseline-grid($type: "body") {
    @if $type == "body" and $show-baseline-grid == true {
        @include baseline-grid-background();
    }

    @if $type == "typo" and $show-typo-baseline-grid == true {
        @include baseline-grid-background()
    }
}

// ------------------------------------------------------------
// :: Typesizes/scale
// ------------------------------------------------------------

// Greek alphabet naming system. Obscure, yet hierarchical.
// Allows us to avoid naming based on html object. 
// Eg. A h1 can be smaller visually, than a h4.
$alpha      : 40px;
$beta       : 36px;
$gamma      : 32px;
$delta      : 28px;
$epsilon    : 24px;
$zeta       : 20px;
$eta        : 16px;
$theta      : 14px;
$iota       : 12px;
$kappa      : 10px;
$lambda     : 9px;


$para		: $eta; 	// Paragraph size
$quote		: $eta;	    // Quote size
$decrease   : $theta;   // Smaller than $para Text Size
$small      : $iota;    // Small Text size
$mini       : $lambda;  // Mini Text Size

// ------------------------------------------------------------	
// Add functional stuff 
// ------------------------------------------------------------	
// ------------------------------------------------------------
// Type defaults for compass' rhythm
// ------------------------------------------------------------

$base-font-size						: $browser-default-font-size; 				// Sets the browser default size. Shouldn't need to change this. (16px)
$base-line-height					: 24px;                                     // Baseline grid. Set to a sensible, small size.
$round-to-nearest-half-line			: true;  				                    // Round the line height to the nearest half line height. Off by default 
$rhythm-unit                        : "rem";                                    // The length unit in which to output rhythm values.
$rem-with-px-fallback               : true;                                     // Whether to output fallback values in px when using rem as the rhythm-unit.

// ------------------------------------------------------------
// Functions for px to em conversions
// ------------------------------------------------------------

@function emify($target, $context) {
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
}

// Make px to ems using base-font-size 
// echo as: font-size: em-font(#px);

@function em-font($target, $context: $base-font-size) {
   @return emify($target, $context);
}


// Make px to ems using base-line-height 
// echo as: font-size: em-base(#px);

@function em-base($target, $context: $base-line-height) {
   @return emify($target, $context);
}

// -------------------------------------------------------
// Media queries
// -------------------------------------------------------

// Reference widths from settings file
@mixin respond-to($media-min, $IE9: true) {
    @if $IE9 == true {
        .lt-ie9 & {
            @content;
        }
        @media screen and (min-width: $media-min)  {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $media-min) {
            @content;
        }
    }
}

@mixin respond-to-max($media-max, $IE9: true) {
    @if $IE9 == true {
        .lt-ie9 & {
            @content;
        }
        @media screen and (max-width: $media-max - 1px)  {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $media-max - 1px) {
            @content;
        }
    }
}

@mixin respond-to-min-max($media-min, $media-max, $IE9: true) {
    @if $IE9 == true {
        .lt-ie9 & {
            @content;
        }
        @media screen and (min-width: $media-min) and (max-width: $media-max)  {
            @content;
        }
    }
    @else {
         @media screen and (min-width: $media-min) and (max-width: $media-max) {
            @content;
        }
    }
}

// ------------------------------------------------------------
// Typset size modules => adjust-font-size-to($to-size, $lines, $from-size)
// ------------------------------------------------------------

@mixin as-heading__headline           { @include baseline-grid('typo'); @include adjust-font-size-to($alpha); }
@mixin as-heading__largest            { @include baseline-grid('typo'); @include adjust-font-size-to($beta); }
@mixin as-heading__large              { @include baseline-grid('typo'); @include adjust-font-size-to($gamma); }
@mixin as-heading__medium             { @include baseline-grid('typo'); @include adjust-font-size-to($delta); }
@mixin as-heading__normal             { @include baseline-grid('typo'); @include adjust-font-size-to($epsilon); }
@mixin as-heading__small              { @include baseline-grid('typo'); @include adjust-font-size-to($zeta); }
@mixin as-heading__smallest           { @include baseline-grid('typo'); @include adjust-font-size-to($eta); }
@mixin as-blockquote                  { @include baseline-grid('typo'); @include adjust-font-size-to($quote); line-height: normal; p { margin: 0; font-style: italic; } }
@mixin as-para                        { @include baseline-grid('typo'); @include adjust-font-size-to($para); }

%as-heading__headline 			{ @include as-heading__headline; } 
%as-heading__largest 			{ @include as-heading__largest; }
%as-heading__large 				{ @include as-heading__large; } 	
%as-heading__medium				{ @include as-heading__medium; } 	
%as-heading__normal 			{ @include as-heading__normal; } 	
%as-heading__small 				{ @include as-heading__small; } 	
%as-heading__smallest			{ @include as-heading__smallest; } 	

%as-blockquote                  { @include as-blockquote; }
%as-list                        { @include as-para; }
%as-para                        { @include as-para; }

// ------------------------------------------------------------
// Typesetting & rhythm matching => rhythm($leader, $padding-leader, $padding-trailer, $trailer, $font-size)
// ------------------------------------------------------------

// Set rhythm for headers
@mixin as-heading__headline--typeset          { margin-bottom: rhythm(1.5, $alpha); }
@mixin as-heading__largest--typeset           { margin-bottom: rhythm(1.25, $beta); }
@mixin as-heading__large--typeset             { margin-bottom: rhythm(1, $gamma); }
@mixin as-heading__medium--typeset            { margin-bottom: rhythm(.75, $delta); }
@mixin as-heading__normal--typeset            { margin-bottom: rhythm(.5, $epsilon); }
@mixin as-heading__small--typeset             { margin-bottom: rhythm(.25, $zeta); }
@mixin as-heading__smallest--typeset          { margin-bottom: rhythm(0, $eta); }
    
    
// Set rhythm for paragraphs and lists
@mixin as-para--typeset                       { margin-bottom: rhythm(1, $para); }
@mixin as-list--typeset                       { margin-bottom: rhythm(1, $para); }

@mixin as-unordered-list--typeset             { @include as-list--typeset; }
@mixin as-ordered-list--typeset               { @include as-unordered-list--typeset; }
@mixin as-blockquote--typeset                 { @include as-blockquote; margin: rhythm(6, $quote) 0; }


// Set rhythm for headers
%as-heading__headline--typeset          { @include as-heading__headline--typeset; } 
%as-heading__largest--typeset           { @include as-heading__largest--typeset; }     
%as-heading__large--typeset             { @include as-heading__large--typeset; }    
%as-heading__medium--typeset            { @include as-heading__medium--typeset; }    
%as-heading__normal--typeset            { @include as-heading__normal--typeset; }      
%as-heading__small--typeset             { @include as-heading__small--typeset; }     
%as-heading__smallest--typeset          { @include as-heading__smallest--typeset; }  
    
    
// Set rhythm for paragraphs and lists
%as-para--typeset                       { @include as-para--typeset; }
%as-list--typeset                       { @include as-list--typeset; }

%as-unordered-list--typeset             { @include as-unordered-list--typeset; }
%as-ordered-list--typeset               { @include as-ordered-list--typeset; }
%as-blockquote--typeset                 { @include as-blockquote--typeset; }