/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
 * COLORS..............................Diverse Farbwerte
 * THEME...............................Direkte Farbzuweisung an Elemente
 * ......-bg = background
 * ......-fg = foreground
 * TYPO................................Typo/Webfonts/etc.
 * BREAKPOINTS.........................Breakpoints Definitionen
 * LAYOUT..............................Layout-Spezifische Angaben
 * SPACING.............................Abstände definieren
 * TRANSITIONS.........................Eigenschaften für Transitions
**/





/*------------------------------------*\
    $COLORS
\*------------------------------------*/

$black:	#000;
$white: #fff;

$theme-color-zero:		transparent;
$theme-color-alpha:		$white;
$theme-color-beta:		$black;
$theme-color-gamma:		#f0f0f0;
$theme-color-delta:		#ddd;
$theme-color-epsilon:	#aaa;
$theme-color-zeta:		#999;
$theme-color-eta:		#666;
$theme-color-theta:		#333;
/*
$theme-color-iota:		#000;
$theme-color-kappa:		#000;
$theme-color-lambda:	#000;
*/





/*------------------------------------*\
    $THEME
\*------------------------------------*/

// Main
$theme-body-bg:					$theme-color-alpha;
$theme-body-fg:					$theme-color-beta;
$theme-headings-bg:				$theme-color-zero;
$theme-headings-fg:				$theme-body-fg;
$theme-page-bg:					$theme-color-alpha;
$theme-page-fg:					$theme-color-beta;
$theme-selection-bg:			$theme-color-beta;
$theme-selection-fg:			$theme-color-alpha;

// Accordion
$theme-accordion-bg:			$theme-color-delta;
$theme-accordion-fg:			$theme-color-beta;
$theme-accordion-handle-bg:		$theme-color-zeta;
$theme-accordion-handle-fg:		$theme-color-alpha;
$theme-accordion-active-bg:		$theme-color-epsilon;
$theme-accordion-active-fg:		$theme-color-beta;

// Buttons
$theme-btn-bg:					$theme-color-zeta;
$theme-btn-fg:					$theme-color-eta;
$theme-btn-active-bg:			$theme-color-delta;
$theme-btn-active-fg:			$theme-color-epsilon;
$theme-btn-disabled-bg:			$theme-color-eta;
$theme-btn-disabled-fg:			$theme-color-theta;
$theme-btn-disabled-active-bg:	$theme-color-epsilon;
$theme-btn-disabled-active-fg:	$theme-color-zeta;
$theme-cta-bg:					$theme-color-beta;
$theme-cta-fg:					$theme-color-alpha;
$theme-cta-active-bg:			$theme-color-eta;
$theme-cta-active-fg:			$theme-color-alpha;

// Links
$theme-link-bg:					$theme-color-zero;
$theme-link-fg:					$theme-color-zeta;
$theme-link-hover-bg:			$theme-color-zero;
$theme-link-hover-fg:			$theme-color-theta;

// Navigation
$theme-nav-bg:					$theme-color-delta;
$theme-nav-fg:					$theme-color-beta;
$theme-nav-items-bg:			$theme-nav-bg;
$theme-nav-items-fg:			$theme-nav-fg;
$theme-nav-link-bg:				$theme-nav-items-bg;
$theme-nav-link-fg:				$theme-nav-items-fg;
$theme-nav-link-active-bg:		$theme-color-epsilon;
$theme-nav-link-active-fg:		$theme-color-beta;
$theme-flyout-bg:				$theme-nav-link-active-bg;
$theme-flyout-fg:				$theme-nav-link-active-fg;
$theme-flyout-link-bg:			$theme-nav-link-bg;
$theme-flyout-link-fg:			$theme-nav-link-fg;
$theme-flyout-link-active-bg:	$theme-color-theta;
$theme-flyout-link-active-fg:	$theme-color-delta;
$theme-flyout-group-bg:			$theme-color-eta;
$theme-flyout-group-fg:			$theme-color-delta;
$theme-flyout-group-active-bg:	$theme-flyout-link-active-bg;
$theme-flyout-group-active-fg:	$theme-flyout-link-active-fg;
$theme-menu-btn-bg:				$theme-color-alpha;
$theme-menu-btn-fg:				$theme-color-beta;
$theme-menu-item-bg:			$theme-color-delta;

// Tabs
$theme-tabs-bg:					$theme-color-eta;
$theme-tab-bg:					$theme-color-zeta;
$theme-tab-fg:					$theme-color-alpha;
$theme-tab-active-bg:			$theme-color-alpha;
$theme-tab-active-fg:			$theme-color-beta;
$theme-tab-hover-bg:			$theme-color-delta;
$theme-tab-hover-fg:			$theme-color-beta;
$theme-tab-content-bg:			$theme-color-alpha;
$theme-tab-content-fg:			$theme-color-beta;

// Teaser
$theme-teaser-bg:				$theme-color-gamma;

// Togglebox
$theme-togglebox-bg:			$theme-color-delta;
$theme-togglebox-fg:			$theme-color-beta;





/*------------------------------------*\
    $TYPO
\*------------------------------------*/

$font:			"Arial", sans-serif;
$font-alpha:	"Roboto Condensed", $font;
$font-beta:		"Roboto Slab", $font;

$font-btn:		$font-alpha;
$font-heading:	$font-beta;
$font-nav:		$font-alpha;





/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/

$bp-small:	22em;
$bp-med:	48em;
$bp-large:	60em;

$bp-xs:		$bp-small;
$bp-s:		29.75em;
$bp-m:		$bp-med;
$bp-l:		$bp-large;
$bp-xl:		73em;
$bp-xxl:	82em;





/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

$layout-maxwidth:	80em;





/*------------------------------------*\
    $SPACING
\*------------------------------------*/

// Distance calculated by Grid
$dist:						$total-width * (($gutter-width * .5) / gridsystem-width($columns));

// Margins - Preferably Top & Bottom
$space:						rhythm(1, $browser-default-font-size);
$space-and-half:			rhythm(1.5, $browser-default-font-size);
$space-double:				rhythm(2, $browser-default-font-size);
$space-triple:				rhythm(3, $browser-default-font-size);
$space-quad:				rhythm(4, $browser-default-font-size);
$space-half:				rhythm(.5, $browser-default-font-size);
$space-quarter:				rhythm(.25, $browser-default-font-size);
$space-three-quarter:		$space-half + $space-quarter;

// Paddings - Preferably Left & Right
$pad:						1rem;
$pad-and-half:				$pad * 1.5;
$pad-double:				$pad * 2;
$pad-triple:				$pad * 3;
$pad-quad:					$pad * 4;
$pad-half:					$pad / 2;
$pad-quarter:				$pad / 4;
$pad-three-quarter:			$pad-half + $pad-quarter;

// Defaults
$default-spacing:			$space-half;
$default-inner-spacing:		$space-quarter;
$default-element-spacing:	$space;
$default-padding:			$pad;
$default-padding-s:			$dist + 3;
$default-padding-m:			$dist + 1;
$default-padding-l:			$dist + 0.5;





/*------------------------------------*\
	$TRANSITIONS
\*------------------------------------*/

$transition-delay:		0;
$transition-duration:	.3s;
$transition-function:	ease-in-out;





/*------------------------------------*\
	
\*------------------------------------*/