@model JM.Business.Kontakt.Contracts.Model.IContactModel

<h2>Danke für Ihre Kontaktaufnahme!</h2>
<p>Hallo @Model.Salutation @Model.LastName, wir haben Ihre Mail bekommen und werden Sie garaniert total schnell bearbeiten.</p>
<p>@Html.ActionLink("Schreiben Sie doch noch eine Mail!", "CreateRequest") oder prüfen Sie Ihre Liste der @Html.ActionLink("Kontaktanfragen!", "Index")</p>
