<div class="row">
	<div class="col-lg-12">
		<h2>Ihre Familien-Daten wurden gespeichert</h2>
		<p>Gehen Sie zurück zur <a href="@Url.Action("Index")">Kontakt-Startseite</a> oder <a href="@Url.Action("CreateRequest")">stellen Sie eine Kontaktanfrage</a>.</p>
	</div>
</div>
