@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}
<div class="text-block">
    <h1>@Model.Page.Title - Faq</h1>
</div>
@{
    @*In Piranha wurde für den PageType "Level0" eine Region names "Teaser" definiert.*@
    var faqModel = Model.Region<FaqRegion>("Faq");
}
@Html.Partial("Regions/Faq", faqModel);