@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}
<div class="row">
	<div class="col-lg-9">
		 <h1>Dies ist ein e FAQPage</h1>
		@Model.Regions.Content
	</div>
	<div class="col-lg-3">
        @Html.Partial("Sidebar")
    </div>
</div>
