@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

@{
    var stageTeaserModel = Model.Region<TeaserExtension>("StageTeaser");
    var teaserModel1 = Model.Region<TeaserExtension>("Teaser1");
    var teaserModel2 = Model.Region<TeaserExtension>("Teaser2");
    var teaserModel3 = Model.Region<TeaserExtension>("Teaser3");
}

@Html.Partial("Regions/StageTeaser", stageTeaserModel)
<div class="section" data-jmname="equalheights-not-mobile" data-jmdominit="true">
    @Html.Partial("Regions/Teaser", teaserModel1)
    @Html.Partial("Regions/Teaser", teaserModel2)
    @Html.Partial("Regions/Teaser", teaserModel3)
</div>