@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

<h1>@Model.Page.Title - Level 2</h1>
@Html.Partial("Regions/TextBlock")
@Html.Partial("Regions/Tabs")
@Html.Partial("Regions/Togglebox")