@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

<h1>@Model.Page.Title - Level 0</h1>
@{
    @*In Piranha wurde für den PageType "Level0" eine Region names "Teaser" definiert.*@
    var teaserModel = Model.Region<TeaserExtension>("Teaser");
}
@Html.Partial("Regions/StageTeaser", teaserModel)
@Html.Partial("Regions/Teaser")
@Html.Partial("Regions/Teaser")