@using Piranha.Extend.Regions
@model Piranha.Models.PageModel
@{
	ViewBag.Title = Model.Page.Title;
}

<div class="section">
	@Html.Partial("Regions/Teaser", Model.Region<TeaserExtension>("Teaser"))
</div>
<div class="section">
	@Html.Partial("Regions/TextBlock", Model.Region<TextRegion>("Text"))
</div>
@Html.Partial("Regions/Togglebox", Model.Region<TextRegion>("Toggle"))
@Html.Partial("Regions/Tabs", Model.Region<TabsRegion>("Tabs"))