@model Piranha.Models.PageModel
@{
    ViewBag.Title = Model.Page.Title ;
}

@{
    @*In Piranha wurde für den PageType "Level0" eine Region names "Teaser" definiert.*@
    var stageTeaserModel = Model.Region<TeaserExtension>("StageTeaser");
    var teaserModel1 = Model.Region<TeaserExtension>("Teaser1");
    var teaserModel2 = Model.Region<TeaserExtension>("Teaser2");
}

@Html.Partial("Regions/StageTeaser", stageTeaserModel)
@*@Html.Partial("Regions/Carousel")*@
<div class="section" data-jmname="equalheights-not-mobile" data-jmdominit="true">
    @Html.Partial("Regions/Teaser", teaserModel1)
    @Html.Partial("Regions/Teaser", teaserModel2)
</div>