@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

@section head {
	<style>
		.demo-section { margin-bottom: 35rem; margin-top: 35rem; }
	</style>
}

<h2 id="OnScrollAnimation">OnScrollAnimation (Slide-In/Out)</h2>
<div class="demo-section">
	<div class="block">
		<div class="block-content">
			<div class="slide-in" data-jmname="add-remove-show-on-view" data-jmdominit="true">
				<h1>Now you see me</h1>
			</div>
		</div>
	</div>
</div>
