@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

@section head {
<style>
.demo-section { margin-bottom: 35rem; margin-top: 35rem; }
</style>
}
<h2 id="parallax">Parallax-Image (ScrollingY)</h2>
<div class="demo-section">
	<div class="parallax" data-jmname="parallax-content-scrollY" data-jmdominit="true">
		<div class="parallax-inner layer" data-depth="1.5">
			<picture>
				<source srcset="images/1.5/home-1920x-720y.jpg" media="(min-width: 60em)"></source>
				<source srcset="images/1.5/home-1440x-540y.jpg" media="(min-width: 48em)"></source>
				<source srcset="images/1.5/home-1152x-432y.jpg, /images/1.5/home-1152x-432y-x2.jpg 2x"></source>
				<img srcset="images/1.5/home-1152x-432y.jpg, /images/1.5/home-1152x-432y-x2.jpg 2x" alt="" class="parallax-img" style="margin: -6.25% 0;">
			</picture>
		</div>
	</div>
</div>