@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

@section head {
<style>
.demo-section { margin-bottom: 3rem; }
</style>
}
<h2 id="Prallax-Image">Animation-Demo</h2>
<div class="demo-section">
	<div class="block">
		<div class="block-content">
			<ul>
				<li><a class="link" href="/JMDemo/Demo/JMUI_Parallax_Scrolling_Y">Demo-Parallax-Scrolling-Y</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_Parallax_Scrolling_Y_Orientation_X">Demo-Parallax-Scrolling-Y-Orientation-X</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_Parallax_Gyroscope_1_1">Demo-Parallax-Gyroscope-1.1</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_Parallax_Gyroscope_1_5">Demo-Parallax-Gyroscope-1.5</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_OnScrollAnimation_Fade">Demo-OnScrollAnimation-Fade</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_OnScrollAnimation_Slide">Demo-OnScrollAnimation-Slide</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_OnScrollAnimation_Bildanimation">Demo-OnScrollAnimation-Bildanimation</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_OnScrollAnimation_FrameAnimation_And_Transform">Demo-OnScrollAnimation-FrameAnimation-And-Transform</a></li>
				<li><a class="link" href="/JMDemo/Demo/JMUI_OnScrollAnimation_SVG">Demo-OnScrollAnimation-SVG</a></li>
			</ul>
		</div>
	</div>
</div>
	