@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

@section head {
<style>
.demo-section { margin-bottom: 35rem; margin-top: 35rem; }
</style>
}
<div style="height: 500px"></div>
<h2 id="OnScrollAnimation">OnScrollAnimation (SVG-Start/Stop)</h2>
<div class="demo-section">
	<div class="block">
		<div class="block-content">
			<object type="image/svg+xml" data-jmname="animation-start-on-view" data-jmdominit="true" data="/img/bahn.svg"></object>
		</div>
	</div>
</div>
