/*------------------------------------*\
    $ACCORDION
\*------------------------------------*/

/**
 * Gestapelte Toggle-Elemente mit Ziehharmonika Effekt.
 *
	<div class="accordion">
		<ul class="acc-group">
			<li class="acc-item">
				<a data-jmname="accordionbox" href="#" class="acc-handle">$accordion-item$</a>
				<div class="acc-panel">
					<p>$accordion-content$</p>
				</div>
			</li>
			<li class="acc-item">
				<a data-jmname="accordionbox" href="#" class="acc-handle">$accordion-item$</a>
				<div class="acc-panel">
					<p>$accordion-content$</p>
				</div>
			</li>
			<li class="acc-item">
				<a data-jmname="accordionbox" href="#" class="acc-handle">$accordion-item$</a>
				<div class="acc-panel">
					<p>$accordion-content$</p>
				</div>
			</li>
		</ul>
	</div>
 *
**/





.accordion {
	@extend %element-default;
	background-color: $theme-accordion-bg;
	color: $theme-accordion-fg;
	
	// Gruppierung der Elemente <ul>
	.acc-group {
		/**/
	}

	// Der verantwortliche Link zum öffnen des Toggles "acc-panel".
	.acc-handle {
		@extend %toggle-subject;
		@include user-select;
		background-color: $theme-accordion-handle-bg;
		color: $theme-accordion-handle-fg;
		display: block;
		font-family: $font-btn;
		margin-bottom: 3px;
		position: relative;

		&:after {
			@include pseudo-element-default;
			@include vertical-align(absolute);
			border: $pad-half solid transparent;
			border-left-color: rgba(0, 0, 0, .4);
			height: 0;
			right: $dist;
			width: 0;
			@include transform-transition(.3s ease);
		}

		&:hover {
			background-color: $theme-accordion-active-bg;
			color: $theme-accordion-active-fg;
		}
	}

	// Ein gruppiertes Element, enthält einen "acc-handle" und das zugehörige "acc-panel". <li>
	.acc-item {
		/**/
	}

	// Der einzublendende Content
	.acc-panel {
		@extend %toggle-content;
	}

	// "acc-item" wird mit "show" erweitert und interagiert entpsrechend.
	.show {
		&> .acc-handle {
			background-color: $theme-accordion-active-bg;
			color: $theme-accordion-active-fg;

			&:after {
				@include transform(rotate(90deg));
			}
		}

		&> .acc-panel {
			@extend %toggle-content-visible;
		}
	}
}





/*------------------------------------*\
    
\*------------------------------------*/