/*------------------------------------*\
    $OWL-CAROUSEL v1.3.2 - http://owlgraphic.com/owlcarousel/
\*------------------------------------*/

/**
 * OWL_CORE............................Core Owl Carousel CSS File
 * OWL_THEME...........................Owl Carousel Owl Demo Theme
 * OWL_TRANSITIONS.....................Owl Carousel CSS3 Transitions
 * OWL_CUSTOM..........................Owl Custom CSS
**/





/*------------------------------------*\
    $OWL_CORE
\*------------------------------------*/

.owl-carousel {
	@include clearfix;
	clear: both;
	display: none;
	margin-bottom: $default-spacing;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;

	.owl-wrapper {
		@include clearfix;
		@include transform(translate3d(0, 0, 0));
		display: none;
		position: relative;

		.owl-wrapper-outer {
			overflow: hidden;
			position: relative;
			width: 100%;

			&.autoHeight{
				@include transition(height .5s ease-in-out);
			}
		}
	}

	.owl-item {
		float: left;
		overflow: hidden;
		position: relative;

		/* preloading images */
		&.loading {
			min-height: 150px;
			background: transparent url("AjaxLoader.gif") no-repeat scroll center center;
		}
	}

	.owl-wrapper,
	.owl-item {
		@include backface-visibility(hidden);
		@include transform(translate3d(0,0,0));
	}

	.owl-page,
	.owl-controls .owl-buttons div {
		cursor: pointer;
	}

	.owl-controls {
		@include user-select;
		height: 50px;
		position: relative;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		.owl-buttons {
			position: absolute;
			top: 0;
			width: 100%;
		}

		.owl-prev,
		.owl-next {
			height: 50px;
			margin: 0;
			padding: 0;
			position: absolute;
			text-indent: -9999em;
			
			&:after {
				@include pseudo-element-default;
				font-size: 1.563em;
				left: 0;
				line-height: 2.000em;
				text-indent: 0;
				top: 0;
			}
		}

		.owl-prev {
			left: 2%; 

			@media screen and (min-width: $bp-large) {
				left: 2.188em;
			}

			&:after {
				content: "<";
			}
		}

		.owl-next {
			right: 3%;

			@media screen and (min-width: $bp-large) {
				right: 3.125em;
			}
			
			&:after {
				content: ">";
			}
		}
	}

	.owl-page {
		filter: Alpha(Opacity=75);/*IE7 fix*/
		height: 50px;
		margin-left: $space-half;
		opacity: 0.75;
		overflow: hidden;
		width: 140px;

		@media screen and (min-width: $bp-large) {
			width: 340px;
		}
		
		&:first-child {
			margin-left: 0;
		}

		&.active {
		}

		.owl-page-img {
			float: left;
			width: 140px;
		}

		.owl-page-title {
			display: none;
			float: right;
			margin-left: $space-half;
			text-align: left;
			width: 188px;

			@media screen and (min-width: $bp-large) {
				display: block;
			}
		}
	}

	/* mouse grab icon */
	.grabbing { 
	    cursor: url("grabbing.png") 8 8, move;
	}
}





/*------------------------------------*\
    $OWL_THEME
\*------------------------------------*/

.owl-buttons {
	div {
		display: inline-block;
		zoom: 1;
		margin: 5px;
		padding: 3px 10px;
	}
}

.owl-controls {
	margin-top: 10px;
	text-align: center;

	/* Clickable class fix problem with hover on touch devices */
	/* Use it for non-touch hover action */
	.clickable {
		.owl-buttons {
			div:hover {
				filter: Alpha(Opacity=100);/*IE7 fix*/
				opacity: 1;
				text-decoration: none;
			}
		}
	}

	/* Styling Pagination*/
	.owl-page{
		display: inline-block;
		*display: inline;/*IE7 life-saver */
		zoom: 1;

		span {
			display: block;
			width: 12px;
			height: 12px;
			margin: 5px 7px;
			filter: Alpha(Opacity=50);/*IE7 fix*/
			opacity: 0.5;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 20px;
			background: #869791;

			/* If PaginationNumbers is true */
			&.owl-numbers{
				border-radius: 30px;
				color: #FFF;
				font-size: 12px;
				height: auto;
				padding: 2px 10px;
				width: auto;
			}
		}

		&.active,
		&:hover {
			filter: Alpha(Opacity=100);/*IE7 fix*/
			opacity: 1;
		}
	}
}





/*------------------------------------*\
    $OWL_TRANSITIONS
\*------------------------------------*/

@import "compass/css3/transition";

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}

/* fade */
.owl-fade-out {
	z-index: 10;
	-webkit-animation: fadeOut .7s both ease;
	-moz-animation: fadeOut .7s both ease;
	animation: fadeOut .7s both ease;
}

.owl-fade-in {
	-webkit-animation: fadeIn .7s both ease;
	-moz-animation: fadeIn .7s both ease;
	animation: fadeIn .7s both ease;
}

/* backSlide */
.owl-backSlide-out {
	-webkit-animation: backSlideOut 1s both ease;
	-moz-animation: backSlideOut 1s both ease;
	animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
	-webkit-animation: backSlideIn 1s both ease;
	-moz-animation: backSlideIn 1s both ease;
	animation: backSlideIn 1s both ease;
}

/* goDown */
.owl-goDown-out {
	-webkit-animation: scaleToFade .7s ease both;
	-moz-animation: scaleToFade .7s ease both;
	animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
	-webkit-animation: goDown .6s ease both;
	-moz-animation: goDown .6s ease both;
	animation: goDown .6s ease both;
}

/* scaleUp */
.owl-fadeUp-in {
	-webkit-animation: scaleUpFrom .5s ease both;
	-moz-animation: scaleUpFrom .5s ease both;
	animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
	-webkit-animation: scaleUpTo .5s ease both;
	-moz-animation: scaleUpTo .5s ease both;
	animation: scaleUpTo .5s ease both;
}

/* Keyframes */

/*empty*/
@-webkit-keyframes empty {
	0% {opacity: 1}
}

@-moz-keyframes empty {
	0% {opacity: 1}
}

@keyframes empty {
	0% {opacity: 1}
}

@-webkit-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:1; }
}

@-webkit-keyframes fadeOut {
	0% { opacity:1; }
	100% { opacity:0; }
}

@-moz-keyframes fadeOut {
	0% { opacity:1; }
	100% { opacity:0; }
}

@keyframes fadeOut {
	0% { opacity:1; }
	100% { opacity:0; }
}

@-webkit-keyframes backSlideOut {
	25% { opacity: .5; -webkit-transform: translateZ(-500px); }
	75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}

@-moz-keyframes backSlideOut {
	25% { opacity: .5; -moz-transform: translateZ(-500px); }
	75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}

@keyframes backSlideOut {
	25% { opacity: .5; transform: translateZ(-500px); }
	75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
	100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}

@-webkit-keyframes backSlideIn {
	0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
	75% { opacity: .5; -webkit-transform: translateZ(-500px); }
	100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}

@-moz-keyframes backSlideIn {
	0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
	75% { opacity: .5; -moz-transform: translateZ(-500px); }
	100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}

@keyframes backSlideIn {
	0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
	75% { opacity: .5; transform: translateZ(-500px); }
	100% { opacity: 1; transform: translateZ(0) translateX(0); }
}

@-webkit-keyframes scaleToFade {
	to { opacity: 0; -webkit-transform: scale(.8); }
}

@-moz-keyframes scaleToFade {
	to { opacity: 0; -moz-transform: scale(.8); }
}

@keyframes scaleToFade {
	to { opacity: 0; transform: scale(.8); }
}

@-webkit-keyframes goDown {
	from { -webkit-transform: translateY(-100%); }
}

@-moz-keyframes goDown {
	from { -moz-transform: translateY(-100%); }
}

@keyframes goDown {
	from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
	from { opacity: 0; -webkit-transform: scale(1.5); }
}

@-moz-keyframes scaleUpFrom {
	from { opacity: 0; -moz-transform: scale(1.5); }
}

@keyframes scaleUpFrom {
	from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
	to { opacity: 0; -webkit-transform: scale(1.5); }
}

@-moz-keyframes scaleUpTo {
	to { opacity: 0; -moz-transform: scale(1.5); }
}

@keyframes scaleUpTo {
	to { opacity: 0; transform: scale(1.5); }
}






/*------------------------------------*\
    $OWL_CUSTOM
\*------------------------------------*/

// CAROUSEL-STAGE-TEASER
.owl-carousel {
	.stage-teaser {
		.st-content,
		.st-header {
			@include transition-delay(.3s);
			@include transition-duration(.3s);
			@include transition-property(left, opacity);
			@include transition-timing-function(cubic-bezier);
			left: -100%;
			opacity: 0;
		}

		.st-img {
			&:before {
				@include transition-delay(.2s);
				@include transition-duration(.3s);
				@include transition-property(right, opacity);
				@include transition-timing-function(cubic-bezier);
				opacity: 0;
				right: 100%;
			}
		}

		&.visible {
			.st-content,
			.st-header {
				left: 0;
				opacity: 1;
			}

			.st-img {
				&:before {
					opacity: 1;
					right: 0;
				}
			}
		}

		&.leaving {
			.st-content,
			.st-header {
				@include transition-delay(0);
				left: -100%;
				opacity: 0;
			}

			.st-img {
				&:before {
					opacity: 0;
					right: 100%;
				}
			}
		}

		&.hide-large {
			@media screen and (min-width: $bp-large) {
				display: none;
			}
		}

		&.hide-med {
			@media screen and (min-width: $bp-med) {
				display: none;
			}
		}
	}
}





/*------------------------------------*\
    
\*------------------------------------*/