/*------------------------------------*\
	$TABS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * .....%tab-active
 * .....%tab-control-checked
 * .....@for... (%tab-control-checked)
 * TABS................................Tab-Navigation
**/

/**
 * Registerkarten-Navigation
 *
	<div class="tabs">
		<input type="radio" id="tab1" name="tab" class="tab-control" checked />
		<label for="tab1" class="tab">$tab-label$</label>
		<input type="radio" id="tab2" name="tab" class="tab-control" />
		<label for="tab2" class="tab">$tab-label</label>
		<div class="tab-content">
			$tab-content$
		</div>
		<div class="tab-content">
			$tab-content$
		</div>
	</div>
 *
**/





/*------------------------------------*\
	$GENERIC
\*------------------------------------*/

// Active Tab
%tab-active {
	margin-bottom: -($default-spacing / 2);
	padding-bottom: $default-spacing;
	top: -($default-spacing / 2);
}

// Placeholder for checked Tabs
%tab-control-checked {
	display: block;
}

// Extend %tab-control-checked if "tab-control" is checked
$tabs:		5;
$tabs_i:	1;

@for $tabs_i from 1 through $tabs {
  .tab-control {
		&:nth-of-type(#{$tabs_i}):checked {
			~ .tab-content {
				&:nth-of-type(#{$tabs_i}) {
					@extend %tab-control-checked;
				}
			}
		}
	}
}

// Jedes Tab erhält die gleichen Eigenschaften
@mixin tabs-tab {
	margin: {
		left: 1px;
		right: 0;
	}
}





/*------------------------------------*\
	$TABS
\*------------------------------------*/

.tabs {
	@extend %element-default;
	background-color: $theme-tabs-bg;
	padding-top: $default-spacing;

	// Ein Tab <label>
	.tab {
		@extend %element-inner-default;
		@include transition(top .3s ease-out);
		background-color: $theme-tab-bg;
		color: $theme-tab-fg;
		position: relative;
		text-align: center;
		top: 0;

		&:nth-of-type(1):nth-last-of-type(2),
		&:nth-of-type(2):nth-last-of-type(1) {
			@include column(3);
			@include tabs-tab;
		}

		&:nth-of-type(1):nth-last-of-type(3),
		&:nth-of-type(2):nth-last-of-type(2),
		&:nth-of-type(3):nth-last-of-type(1) {
			@include column(3);
			@include tabs-tab;
		}

		&:nth-of-type(1):nth-last-of-type(4),
		&:nth-of-type(2):nth-last-of-type(3),
		&:nth-of-type(3):nth-last-of-type(2),
		&:nth-of-type(4):nth-last-of-type(1) {
			@include column(3);
			@include tabs-tab;
		}

		&:nth-of-type(1):nth-last-of-type(5),
		&:nth-of-type(2):nth-last-of-type(4),
		&:nth-of-type(3):nth-last-of-type(3),
		&:nth-of-type(4):nth-last-of-type(2),
		&:nth-of-type(5):nth-last-of-type(1) {
			@include column(2);
			@include tabs-tab;
		}

		&:nth-of-type(1):nth-last-of-type(6),
		&:nth-of-type(2):nth-last-of-type(5),
		&:nth-of-type(3):nth-last-of-type(4),
		&:nth-of-type(4):nth-last-of-type(3),
		&:nth-of-type(5):nth-last-of-type(2),
		&:nth-of-type(6):nth-last-of-type(1) {
			@include column(2);
			@include tabs-tab;
		}

		&:hover {
			@extend %tab-active;
			background-color: $theme-tab-hover-bg;
			color: $theme-tab-hover-fg;
		}

		&:first-of-type {
			margin-left: $dist !important;
		}
	}

	// Inhalt des Tabs.
	.tab-content {
		@extend %element-inner-default;
		background-color: $theme-tab-content-bg;
		clear: both;
		color: $theme-tab-content-fg;
		display: none;
	}

	// Dient zum Steuern der einzelnen Tabs und ist ein Radiobutton <input>
	.tab-control {
		display: none;

		&:checked {
			&+ .tab {
				@extend %tab-active;
				background-color: $theme-tab-active-bg;
				color: $theme-tab-active-fg;
			}
		}
	}
}





/*------------------------------------*\
	
\*------------------------------------*/