/*------------------------------------*\
    $TEASER
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * TEASER..............................Teaser Element
**/

/**
 * 
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

// Die Elemente "t-header", "t-content", "t-footer" teilen sich die gleichen Eigenschaften.
%teaser-element-default {
	@include element-inner-nested-default;
}





/*------------------------------------*\
    $TEASER
\*------------------------------------*/

.teaser {
	@extend %element-default;
	background-color: $theme-teaser-bg;
	color: inherit;
	display: block;

	@include bp-s {
		clear: none;
	}

	&:first-of-type:last-of-type {
		@include bp-m {
			.t-figure {
				@include column(6);
				clear: none;
				margin: {
					left: 0;
					right: $dist * 2;
				}

				&~ .t-header,
				&~ .t-content,
				&~ .t-footer {
					@include column(6);
					clear: right;
					float: right;
					margin: {
						left: $dist * 2;
						right: 0;
					}
				}
			}
		}
	}

	&:nth-of-type(1):nth-last-of-type(2),
	&:nth-of-type(2):nth-last-of-type(1) {
		@include bp-m {
			@include column(6);
			padding-bottom: $space-double;

			.t-footer {
				@include position('', '', 0, 0);
			}
		}

		@include bp-l {
			@include column(6);
		}
	}

	&:nth-of-type(1):nth-last-of-type(3),
	&:nth-of-type(2):nth-last-of-type(2),
	&:nth-of-type(3):nth-last-of-type(1) {
		@include bp-m {
			@include column(4);
			padding-bottom: $space-double;

			.t-footer {
				@include position('', '', 0, 0);
			}
		}

		@include bp-l {
			@include column(4);
		}
	}

	&:nth-of-type(1):nth-last-of-type(4),
	&:nth-of-type(2):nth-last-of-type(3),
	&:nth-of-type(3):nth-last-of-type(2),
	&:nth-of-type(4):nth-last-of-type(1) {
		@include bp-s {
			@include column(6);
			padding-bottom: $space-double;

			.t-footer {
				@include position('', '', 0, 0);
			}
		}

		@include bp-m {
			@include column(6);
		}

		@include bp-l {
			@include column(3);
		}
	}

	.t-content {
		@extend %teaser-element-default;
	}

	.t-footer {
		@extend %teaser-element-default;
	}

	.t-head {
		/**/
	}

	.t-header {
		@extend %teaser-element-default;
	}
}





/*------------------------------------*\
    
\*------------------------------------*/