
<h1>Template Default</h1>
<div class="stage-teaser">
    <div class="st-figure">
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="//dummyimage.com/1280x500/666/ddd.png&text=IMG" media="(min-width: 60em)" />
            <source srcset="//dummyimage.com/960x500/666/ddd.png&text=IMG" media="(min-width: 48em)" />
            <source srcset="//dummyimage.com/768x250/666/ddd.png&text=IMG" />
            <!--[if IE 9]></video><![endif]-->
            <img srcset="//dummyimage.com/1280x500/666/ddd.png&text=IMG" alt="IMG" />
        </picture>
    </div>
    <div class="st-inner">
        <header class="st-header">
            <h2 class="st-head">Lorem ipsum dolor sit amet</h2>
        </header>
        <div class="st-content">
            <ul class="bullet-list">
                <li class="list-item">Lorem ipsum dolor sit amet</li>
                <li class="list-item">Consetetur sadipscing elitr</li>
                <li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
            </ul>
        </div>
        <footer class="st-footer">
            <a class="cta" href="#">Lorem</a>
        </footer>
    </div>
</div>
<div class="section" data-jmname="equalheights-not-mobile" data-jmdominit="true">
    <a class="teaser" href="#">
        <div class="t-figure">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="//dummyimage.com/625x200/666/ddd.png&text=IMG" media="(min-width: 60em)" />
                <source srcset="//dummyimage.com/960x400/666/ddd.png&text=IMG" media="(min-width: 48em)" />
                <source srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" />
                <!--[if IE 9]></video><![endif]-->
                <img srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" alt="IMG" />
            </picture>
        </div>
        <div class="t-inner" data-jmselector="equal-heights-children">
            <header class="t-header">
                <h3 class="t-head">Lorem ipsum dolor sit amet</h3>
            </header>
            <div class="t-content">
                <ul class="bullet-list">
                    <li class="list-item">Lorem ipsum dolor sit amet</li>
                    <li class="list-item">Consetetur sadipscing elitr</li>
                    <li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
                </ul>
            </div>
            <footer class="t-footer">
                <span class="btn">Lorem</span>
            </footer>
        </div>
    </a>
    <a class="teaser" href="#">
        <div class="t-figure">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="//dummyimage.com/625x200/666/ddd.png&text=IMG" media="(min-width: 60em)" />
                <source srcset="//dummyimage.com/960x400/666/ddd.png&text=IMG" media="(min-width: 48em)" />
                <source srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" />
                <!--[if IE 9]></video><![endif]-->
                <img srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" alt="IMG" />
            </picture>
        </div>
        <div class="t-inner" data-jmselector="equal-heights-children">
            <header class="t-header">
                <h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
            </header>
            <div class="t-content">
                <ul class="bullet-list">
                    <li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
                    <li class="list-item">Stet clita kasd gubergren.</li>
                    <li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
            <footer class="t-footer">
                <span class="btn">Lorem</span>
            </footer>
        </div>
    </a>
</div>
<div class="section" data-jmname="equalheights-not-mobile" data-jmdominit="true">
    <a class="teaser" href="#">
        <div class="t-figure">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="//dummyimage.com/625x200/666/ddd.png&text=IMG" media="(min-width: 60em)" />
                <source srcset="//dummyimage.com/960x400/666/ddd.png&text=IMG" media="(min-width: 48em)" />
                <source srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" />
                <!--[if IE 9]></video><![endif]-->
                <img srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" alt="IMG" />
            </picture>
        </div>
        <div class="t-inner" data-jmselector="equal-heights-children">
            <header class="t-header">
                <h3 class="t-head">Lorem ipsum dolor sit amet</h3>
            </header>
            <div class="t-content">
                <ul class="bullet-list">
                    <li class="list-item">Lorem ipsum dolor sit amet</li>
                    <li class="list-item">Consetetur sadipscing elitr</li>
                    <li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
                </ul>
            </div>
            <footer class="t-footer">
                <span class="btn">Lorem</span>
            </footer>
        </div>
    </a>
    <a class="teaser" href="#">
        <div class="t-figure">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="//dummyimage.com/625x200/666/ddd.png&text=IMG" media="(min-width: 60em)" />
                <source srcset="//dummyimage.com/960x400/666/ddd.png&text=IMG" media="(min-width: 48em)" />
                <source srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" />
                <!--[if IE 9]></video><![endif]-->
                <img srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" alt="IMG" />
            </picture>
        </div>
        <div class="t-inner" data-jmselector="equal-heights-children">
            <header class="t-header">
                <h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
            </header>
            <div class="t-content">
                <ul class="bullet-list">
                    <li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
                    <li class="list-item">Stet clita kasd gubergren.</li>
                    <li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
            <footer class="t-footer">
                <span class="btn">Lorem</span>
            </footer>
        </div>
    </a>
    <a class="teaser" href="#">
        <div class="t-figure">
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="//dummyimage.com/625x200/666/ddd.png&text=IMG" media="(min-width: 60em)" />
                <source srcset="//dummyimage.com/960x400/666/ddd.png&text=IMG" media="(min-width: 48em)" />
                <source srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" />
                <!--[if IE 9]></video><![endif]-->
                <img srcset="//dummyimage.com/768x300/666/ddd.png&text=IMG" alt="IMG" />
            </picture>
        </div>
        <div class="t-inner" data-jmselector="equal-heights-children">
            <header class="t-header">
                <h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
            </header>
            <div class="t-content">
                <ul class="bullet-list">
                    <li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
                    <li class="list-item">Stet clita kasd gubergren.</li>
                    <li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
                </ul>
            </div>
            <footer class="t-footer">
                <span class="btn">Lorem</span>
            </footer>
        </div>
    </a>
</div>
