<div class="row">
	<div class="col-lg-12">
		<h1>Effekte <small style="color: #d2691e"><span class="glyphicon glyphicon-tag"></span> DEMO</small></h1>
		<p>Description TBD</p>
		<hr />
		<ul>
			<li>Beispiel 1 <a href="#">link 1</a>
		</ul>
	</div>
</div>


