<div class="row">
	<div class="col-lg-12">
		<h1>JM.Business <small style="color: #d2691e"><span class="glyphicon glyphicon-tag"></span>DEMO</small></h1>
		<p>BESCHREIBUNG: Demo-Modul mit 2 Managern für den Test von ExceptionHandling und Reporting</p>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Demo</h2>
		<p>Hier können die Funktionen des Moduls demonstriert werden</p>
		<a href="@Url.Action("Lame", "JM-Business")">Lame-Manager</a><br />
		<a href="@Url.Action("Important", "JM-Business")">Important-Manager</a>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Settings</h2>
		<p>Dieses Modul hat Einstellungsmöglichkeiten, die in der Web.config in der Customsection <em>JM.Business.config</em> gepflegt werden. Diese diesen hauptsächlich zur Demonstration von Collections und Objekten in der Config.</p>
		<pre><code>&lt;JM.Business
  moduleName="ModuleNameForJM.Business"
  moduleVersion="0.1"&gt;
	&lt;deviceList&gt;
		&lt;add id="0" name="Handy1" manufacturer="Manufacturer1" /&gt;
		&lt;add id="1" name="Handy2" manufacturer="Manufacturer2" /&gt;
		&lt;add id="2" name="Handy3" manufacturer="Manufacturer3" /&gt;
		&lt;add id="3" name="Handy4" manufacturer="Manufacturer4" /&gt;
		&lt;add id="4" name="Handy5" manufacturer="Manufacturer5" /&gt;
		&lt;add id="5" name="Handy6" manufacturer="Manufacturer6" /&gt;
	&lt;/deviceList&gt;
&lt;/JM.Business&gt;</code></pre>
		<h3>Settings Variablenbeschreibung</h3>
		<table class="table-striped table">
			<tr>
				<th>Key</th>
				<th>Type</th>
				<th>Description</th>
				<th>Pflichtfeld</th>
				<th>Default</th>
			</tr>
			<tr>
				<td>DeviceList</td>
				<td>Collection</td>
				<td>Eine Liste von Devices mit ID, Name und Hersteller</td>
				<td>Ja</td>
				<td>-</td>
		</table>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Einrichtung / Checkliste</h2>
		<p>Hier wird beschrieben wie dieses Modul eingebunden und genutzt werden kann</p>
		<ol>
			<li>Diese DLL wird direkt eingebunden, da sie keine separate Interface-DLL besitzt. Genutzt wird sie trotzdem über DI, da sie Interfaces innerhalb der DLL besitzt.</li>
		</ol>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Changelog</h2>
		<p>Hier werden Änderungen an dem Modul dokumentiert.</p>
		<table class="table-striped table">
			<tr>
				<th>Datum</th>
				<th>Version</th>
				<th>Entwickler</th>
				<th>Changes</th>
			</tr>
			<tr>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
			</tr>
		</table>
	</div>
</div>