<div class="row">
	<div class="col-lg-12">
		<h1>JM.Business.Kontakt <small style="color: #d2691e"><span class="glyphicon glyphicon-tag"></span>DEMO</small></h1>
		<p>Demo-Modul für einen Kontaktmanager, der die Daten registrierter Benutzer speichert, Emails mit Kontaktanfragen versendet und eine Liste der Anfragen pro Person speichert.</p>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Demo</h2>
		<a href="@Url.Action("Index", "JM-Business-Kontakt")">Übersichtsseite für den aktuell angemeldeten Benutzer</a><br/>
		<a href="@Url.Action("StoreData", "JM-Business-Kontakt")">Daten für den angemeldeten Benutzer speichern/ändern</a><br/>
		<a href="@Url.Action("CreateRequest", "JM-Business-Kontakt")">Neue Kontaktanfrage</a><br/>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Settings</h2>
		<p>Dieses Modul einige Einstellungsmöglichkeiten, die in der Web.config in der Customsection <em>JM.Business.Kontakt.config</em> gepflegt werden.</p>
		<pre><code>&lt;JM.Business.Kontakt moduleName="JM.Business.Kontakt" moduleVersion="0.1"&gt;
	&lt;SmtpServer server="exchange.joinmedia.local"/&gt;
	&lt;Mailing recipientAdress="sve@joinmedia.de" defaultSubject="Ein Testsubjekt" subjectPrefix="DEV " sendAsHighPriorityMail="false"/&gt;
	&lt;ConnectionString value="DefaultConnection"/&gt;
&lt;/&lt;JM.Business.Kontakt&gt;</code></pre>
		<h3>Settings Variablenbeschreibung</h3>
		<table class="table-striped table">
			<tr>
				<th>Key</th>
				<th>Type</th>
				<th>Description</th>
				<th>Pflichtfeld</th>
				<th>Default</th>
			</tr>
			<tr>
				<td>SmtpServer</td>
				<td>String</td>
				<td>Adresse des Servers über den die Mails verschickt werden</td>
				<td>Ja</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Mailing</td>
				<td>ConfigurationElement</td>
				<td>Enthält alle Einstellungen für das Versenden der Kontaktmails</td>
				<td>Ja</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Mailing.recipientAdress</td>
				<td>Emailadresse</td>
				<td>Adresse an die Kontaktmails versendet werden</td>
				<td>Ja</td>
				<td>sve@joinmedia.de</td>
			</tr>
			<tr>
				<td>Mailing.defaultSubject</td>
				<td>String</td>
				<td>Standardbetreff für Kontaktmails</td>
				<td>Ja</td>
				<td>Kontakt Mail</td>
			</tr>
			<tr>
				<td>Mailing.subjectPrefix</td>
				<td>String</td>
				<td>Dieser Text wird dem Betreff immer vorangestellt</td>
				<td>Nein</td>
				<td>-</td>
			</tr>
			<tr>
				<td>Mailing.sendAsHighPriorityMail</td>
				<td>Bool</td>
				<td>Gibt an ob die Mail als HighPriority gekennzeichnet werden soll</td>
				<td>Nein</td>
				<td>false</td>
			</tr>
			<tr>
				<td>ConnectionString</td>
				<td>String</td>
				<td>Definiert den Connectionstring, den die DLL für die Verbindung zur Datenbank nutzen soll.</td>
				<td>Ja</td>
				<td>-</td>
			</tr>
		</table>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Einrichtung / Checkliste</h2>
		<p>Hier wird beschrieben wie dieses Modul eingebunden und genutzt werden kann</p>
		<ol>
			<li>JM.Business.Kontakt.Contracts.dll in der Webanwendung als Verweis hinzufügen</li>
			<li>JM.Business.Kontakt.Contracts.dll und JM.Business.Kontakt.dll mit in das BIN-Verzeichnis der Anwendung kopieren</li>
			<li>Config-Datei wie unter "Settings" beschrieben unter <i>/App_Data/config/dev</i> ablegen</li>
			<li>Config-Datei anpassen</li>
			<li>KontaktManager-Klasse über DI einbinden und nutzen</li>
		</ol>
	</div>
	<div class="col-lg-12">
		<h2>Datenbankschema</h2>
		<p>JM.Business.Kontakt benutzt 2 Tabellen in der DB. Diese sind über EF CodeFirst definiert und benutzen Migrations um die DB bei Codeänderungen zu aktualisieren.</p>
		<p>Hier das aktuelle DB Schema:</p>
		<img src="@Url.Content("~/Areas/JMDemo/img/JM.Business.Kontakt/DB-Schema.png")" alt="Database Schema"/>
	</div>
	<hr />
	<div class="col-lg-12">
		<h2>Changelog</h2>
		<p>Hier werden Änderungen an dem Modul dokumentiert.</p>
		<table class="table-striped table">
			<tr>
				<th>Datum</th>
				<th>Version</th>
				<th>Entwickler</th>
				<th>Changes</th>
			</tr>
			<tr>
				<td>30.07.2014</td>
				<td>0.1</td>
				<td>sve</td>
				<td>Erste Version</td>
			</tr>
		</table>
	</div>
</div>


