/*------------------------------------*\
    $HEADER_SECTION
\*------------------------------------*/

/**
 * .page-header........................HTML <header> Section
 * .logo...............................Site-Logo
**/





/*------------------------------------*\
    <header>
\*------------------------------------*/

.page-header {
	@extend %page-element-default;
	background-color: $theme-nav-bg;
	height: $layout-header-height;
	position: fixed;
	top: 0;
	z-index: 999;
}





/*------------------------------------*\
    LOGO
\*------------------------------------*/

.logo {
	@include column(7);
	@include element-indent;
	display: block;
	padding: {
		bottom: $space-half;
		top: $space-three-quarter;
	}
	position: relative;
	z-index: 1;

	@include bp-xs {
		@include column(6);
	}

	@include bp-s {
		@include column(4);
	}

	@include bp-m {
		@include column(2.5);
	}
}





/*------------------------------------*\
    
\*------------------------------------*/