/*------------------------------------*\
    $HEADER_SECTION
\*------------------------------------*/

/**
 * .page-header........................HTML <header> Section
 * .logo...............................Site-Logo
**/





/*------------------------------------*\
    <header>
\*------------------------------------*/

.page-header {
	@extend %page-element-default;
	background-color: $theme-nav-bg;
	position: fixed;
	top: 0;
	z-index: 999;
}





/*------------------------------------*\
    LOGO
\*------------------------------------*/

.logo {
	@include column(7);
	display: block;
	padding: $space-three-quarter $pad $space-half;
	position: relative;
	z-index: 1;

	@include bp-xs {
		@include column(7);
	}

	@include bp-s {
		@include column(5);
	}

	@include bp-m {
		@include column(4);
	}
}





/*------------------------------------*\
    
\*------------------------------------*/