/*------------------------------------*\
    $MAIN_CONTENT_AREA
\*------------------------------------*/

/**
 * MAIN................................HTML <main> Section
 * SECTIONS............................Content-Container/Column-Wrapper
 * .....section........................Regular
 * .....section-onepage................OnePager
 * STAGE...............................Intro-Element
**/





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.page-main {
	@extend %page-element-default;
	margin-top: $layout-header-height;
}





/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/

.section {
	@include clearfix;
	clear: both;
	overflow: hidden;
	position: relative;
}

.section-onepage {
	@extend .section;
}





/*------------------------------------*\
    $SECTION-COLORS
\*------------------------------------*/

#joinmedia,
#impressum {
	background-color: $theme-section-joinmedia-bg;
	color: $theme-section-joinmedia-fg;

	.block{
		.block-content {
			h3 {
				border-color: $theme-section-joinmedia-fg;
			}
		}
	}
}

#services {
	background-color: $theme-section-services-bg;

	.block {
		&:nth-of-type(1) {
			background-color: $theme-section-services-1-bg;
		}

		&:nth-of-type(2) {
			background-color: $theme-section-services-2-bg;
		}

		&:nth-of-type(3) {
			background-color: $theme-section-services-3-bg;
		}

		&:nth-of-type(4) {
			background-color: $theme-section-services-4-bg;
		}

		&:nth-of-type(5) {
			background-color: $theme-section-services-5-bg;
		}

		&:nth-of-type(6) {
			background-color: $theme-section-services-6-bg;
		}
	}
}

#customers {
	background-color: $theme-section-customers-bg;
	color: $theme-section-customers-fg;

	.block{
		.block-content {
			& > h1, h2, h3, h4, h5, h6 {
				border-color: $theme-section-customers-fg;
			}
		}
	}
}

#agency {
	background-color: $theme-section-agency-bg;

	.block {
		&:nth-of-type(1) {
			background-color: $theme-section-agency-1-bg;
		}

		&:nth-of-type(2) {
			background-color: $theme-section-agency-2-bg;
		}
	}
}

#jobs {
	background-color: $theme-section-jobs-bg;
}

#contact {
	background-color: $theme-section-contact-bg;
}





/*------------------------------------*\
    $STAGE
\*------------------------------------*/

.stage {
	@extend .section;
	@include element-default;
	background-color: $theme-stage-bg;
	margin: {
		bottom: 0;
		top: -($layout-header-height);
	}

	.stage-bg {
		height: 1000px;
		height: 100vh;
		position: relative;

		.parallax-img {
			height: 150%;
		}
	}

	.stage-footer {
		background-color: $theme-stage-bg;
		padding: {
			bottom: $space-quarter;
			top: $space-quarter;
		}

		@include bp-m {
			@include absolute('', 0, 0, 0);
		}
	}

	.stage-header {
		@include column(12);
		@include element-inner-default;
		@include absolute(15%, 0, '', 0);

		@include bp-xl {
			@include indent(left, 1.75);
		}
	}

	.stage-main {
		@include bp-m {
			@include column(12);
			@include absolute('', 0, 10%, 0);
		}

		@include bp-l {
			@include indent(padding, .2);
			bottom: 15%;
		}

		@include bp-xl {
			@include indent(padding, 1);
			bottom: 25%;
		}
	}

	.go-down {
		display: block;
	}
}





/*------------------------------------*\
    
\*------------------------------------*/