/*------------------------------------*\
    $MAIN_CONTENT_AREA
\*------------------------------------*/

/**
 * MAIN................................HTML <main> Section
 * SECTIONS............................Content-Container/Column-Wrapper
 * .....section........................Regular
 * .....section-onepage................OnePager
 * STAGE...............................Intro-Element
**/





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.page-main {
	@extend %page-element-default;
}





/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/

.section {
	@include clearfix;
	clear: both;
	overflow: hidden;
	position: relative;
}

.section-onepage {
	@extend .section;
}





/*------------------------------------*\
    $SECTION-COLORS
\*------------------------------------*/

.joinmedia,
.impressum {
	background-color: $theme-section-joinmedia-bg;
	color: $theme-section-joinmedia-fg;

	.block{
		.block-content {
			.headline-underlined {
				border-color: $theme-section-joinmedia-fg;
			}
		}
	}
}

.services {
	background-color: $theme-section-services-bg;

	.block {
		&:nth-of-type(1) {
			background-color: $theme-section-services-1-bg;
		}

		&:nth-of-type(2) {
			background-color: $theme-section-services-2-bg;
		}

		&:nth-of-type(3) {
			background-color: $theme-section-services-3-bg;
		}

		&:nth-of-type(4) {
			background-color: $theme-section-services-4-bg;
		}

		&:nth-of-type(5) {
			background-color: $theme-section-services-5-bg;
		}

		&:nth-of-type(6) {
			background-color: $theme-section-services-6-bg;
		}
	}
}

.customers {
	background-color: $theme-section-customers-bg;
	color: $theme-section-customers-fg;

	.block{
		.block-content {
			& > h1, h2, h3, h4, h5, h6 {
				border-color: $theme-section-customers-fg;
			}
		}
	}
}

.agency {
	background-color: $theme-section-agency-bg;

	.block {
		&:nth-of-type(1) {
			background-color: $theme-section-agency-1-bg;
		}

		&:nth-of-type(2) {
			background-color: $theme-section-agency-2-bg;
		}
	}
}

.jobs {
	background-color: $theme-section-jobs-bg;
}

.contact {
	background-color: $theme-section-contact-bg;
}





/*------------------------------------*\
    $STAGE
\*------------------------------------*/

.stage {
	@extend .section;
	@include element-default;
	background-color: $theme-stageteaser-bg;
	margin-bottom: 0;
	overflow: visible;

	@include bp-m {
		height: 1000px;
	}

	.stage-content-inner {
		@include clearfix;
		@include constrained;
	}

	.stage-content-top {
		@include absolute($space-triple, 0, '', 0);

		@include bp-m {
			top: 250px;
		}
	}

	.stage-content-mid {
		margin-top: $space-quarter;

		@include bp-m {
			@include absolute(auto, 0, $space-triple + $space-half, 0);
			margin-top: 0;
		}
	}

	.stage-content-bottom {
		background-color: $theme-stageteaser-bg;
		height: $space-triple;

		@include bp-m {
			@include absolute(auto, 0, '', 0);
			z-index: 1;
		}

		.stage-content-inner {
			height: 100%;
		}
	}

	.stage-bg {
		height: 1000px;

		.parallax-inner {
			height: 100%;
		}

		.parallax-img {
			//background-image: url("/img/fotos/tablet-kaffee.jpg");
			background-image: url("/img/section-header/stage-480-315.jpg");
			background-size: cover;
			height: 100%;
			width: 100%;

			@media only screen and (min-width: 48em) {
				background-image: url("/img/section-header/stage-768-504.jpg");
			}

			@media only screen and (min-width: 60em) {
				background-image: url("/img/section-header/stage-1024-672.jpg");
			}

			@media only screen and (min-width: 80em) {
				background-image: url("/img/section-header/stage-1600-1050.jpg");
			}

			@media only screen and (min-width: 80em) {
				background-image: url("/img/section-header/stage-1600-1050.jpg");
			}

			@media only screen and (min-width: 120em) {
				background-image: url("/img/section-header/stage-2560-1680.jpg");
			}
		}
	}	
}





/*------------------------------------*\
    
\*------------------------------------*/