@model JM.ReferenceApplication.Controllers.StringManagerModel
@{
	ViewBag.Title = "ImportantDetails";
}

<div class="jumbotron">
	<h1>"@Model.String" <small>mit der ID &laquo;@Model.ID&raquo;</small></h1>
	<p class="lead">Diesen String und viele mehr gibt es in unserer Businessanwendung!</p>
	<p>
		<a href="/Business/ImportantDetails/@(Model.ID - 1)" class="btn btn-primary btn-lg">Letzer String</a>
		<a href="/Business/ImportantDetails/@(Model.ID + 1)" class="btn btn-primary btn-lg">Nächster String</a>
	</p>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Eine Präsentation des @Model.Manager!</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
</div>

