@model string
@{
	ViewBag.Title = "ImportantConfiguredDeviceInfo";
}

<h2>Info aus Collection in der Web.Config</h2>
<p>In der CustomSection für die Web.Config ist eine Collection definiert. Hier kann per Index eines der Elemente geholt werden.</p>
<p>Gewählter Index: '@ViewBag.Index'</p>
<h3>Ergebnis:</h3>
<pre>@Model</pre>
<hr />
<ul>
	@for (var i = 0; i < 20; i++)
	{
		<li><a href="?index=@i">Index @i</a></li>
	}
</ul>