@model List<string>
@{
    ViewBag.Title = "Lame";
}

<h2>Lame Manager</h2>
<p>Hier eine Liste der Daten, die der LameManager uns liefert:</p>
<table class="table table-striped">
	<tr>
		<th>Index</th>
		<th>Content</th>
		<th>Details</th>
	</tr>
	@for(var i = 0; i < Model.Count; i++)
	{
		<tr>
			<td>@i</td>
			<td>@Model.ElementAt(i)</td>
			<td>@Html.ActionLink("Details zu No." +i.ToString(), "LameDetails", new { id = i})</td>
		</tr>
	}
</table>

