<JM.Business.Kontakt moduleName="JM.Business.Kontakt" moduleVersion="0.1">
	<SmtpServer server="exchange.joinmedia.local"/>
	<Mailing recipientAdress="sve@joinmedia.de" defaultSubject="Ein Testsubjekt" subjectPrefix="DEV " sendAsHighPriorityMail="false"/>
	<ConnectionString value="DefaultConnection"/>
</JM.Business.Kontakt>