<JM.Foundation>
	<!-- Konfiguration für den ExceptionHandler und die Darstellung der Fehlerseiten -->
	<ErrorHttpModule 
		enabled="true"
		errorPageController="Error"
		errorPageAction="DisplayErrorAlternative"
		showErrorDetails="true"/>
	<!-- Configuration das JMBasicAuthFilterAttribute zur BASIC-Authentication von Actions -->
	<JMBasicAuthenticationFilter
		areaname="JM - geschützer Bereich"
		username="Joinmedia"
		password="Join#media960" />
	<!-- Configuration der CSS/JS FE Performance und Feature-addtings -->
	<!-- Bitte beachten: Die FeatureIDs mappen auf ein Enum! -->
	<Features>
		<add id="1" value="true" name="Performance A" description="" />
		<add id="2" value="false" name="Performance B" description="" />
		<add id="3" value="false" name="Performance C" description="" />
		<add id="4" value="true" name="Prefetch" description="" />
		<add id="5" value="true" name="SpriteSheets" description="" />
		<add id="6" value="true" name="AriaRoles" description="" />
		<add id="7" value="true" name="MicroData" description="" />
		<add id="8" value="true" name="MicroFormats" description="" />
		<add id="9" value="true" name="NoJS" description="" />
		<add id="10" value="true" name="IE8" description="" />
		<add id="11" value="false" name="TouchSupport" description="" />
		<add id="12" value="true" name="ProgressiveEnhancement" description="" />
		<add id="13" value="true" name="Favicons" description="" />
		<add id="14" value="true" name="ResponsiveImages" description="" />
	</Features>
</JM.Foundation>