<JM.SiteConfig>
	<!-- Konfiguration für Server / Domain -->
	<Server
		internalHost="dev.jmbs.de"
		externalHost="dev.jmbs.de"
		primaryDomain="dev.jmbs.de"
		domains="dev.jmbs.de,jmbs.de,testsite.de"
	/>
	<!-- Pfad zu den Templates bitte absolut vom Root mit führendem "/" -->
	<Templates>
		<add id="1" name="default" path="/template/default" active="false"/>
		<add id="2" name="default-onepage" path="/template/default-onepage" active="false"/>
	</Templates>
</JM.SiteConfig>