<piranha>
	<settings>
		<managerNamespaces value="" />
		<disableManager value="false" />
		<passiveMode value="false" />
		<prefixlessPermalinks value="true" />
	</settings>
	<providers>
		<mediaProvider value="JM.Foundation.Piranha.Provider.FileStorageProvider, JM.Foundation" />
		<!--<mediaProvider value="Piranha.IO.LocalMediaProvider, Piranha" />-->
		<mediaCacheProvider value="Piranha.IO.LocalMediaCacheProvider, Piranha" />
		<cacheProvider value="Piranha.Cache.WebCacheProvider, Piranha" />
		<logProvider value="JM.ReferenceApplication.Controllers.EtwLogProvider, JM.ReferenceApplication" />
	</providers>
</piranha>