/*------------------------------------*\
	$BUTTONS
\*------------------------------------*/

/**
* GENERIC.............................Variables/Placeholder
* BTN.................................Simple Button
* BTN-DISABLED........................Disabled Button
* CTA.................................Call-To-Action
**/





/*------------------------------------*\
	$GENERIC
\*------------------------------------*/

%button {
	@include appearance;
	@include transition(background-color .3s ease-out);
	@include user-select;
	cursor: pointer;
	display: block;
	/*font-family: $font-button;*/
	overflow: hidden;
	padding: $space-quarter $default-padding;
	position: relative;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;

	@media screen and (min-width: $bp-med) {
		display: inline-block;
		width: auto;
	}
}





/*------------------------------------*\
	$BTN
\*------------------------------------*/

.btn {
	@extend %button;
	background-color: $theme-btn-bg;
	color: $theme-btn-fg;

	&:active,
	&:hover {
		background-color: $theme-btn-active-bg;
		color: $theme-btn-active-fg;
	}
}





/*------------------------------------*\
	$BTN-DISABLED
\*------------------------------------*/

.btn-disabled {
	@extend %button;
	background-color: $theme-btn-disabled-bg;
	color: $theme-btn-disabled-fg;
	cursor: default;
	pointer-events: none;
}





/*------------------------------------*\
	$CTA
\*------------------------------------*/

.cta {
	@extend %button;
	background-color: $theme-cta-bg;
	color: $theme-cta-fg;

	&:active,
	&:hover {
		background-color: $theme-cta-active-bg;
		color: $theme-cta-active-fg;
	}
}





/*------------------------------------*\

\*------------------------------------*/