/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * BULLET-LIST.........................List w/Bullets
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

%list {
	@extend %as-list;
	@extend %as-list--typeset;
}





/*------------------------------------*\
    $BULLET-LIST
\*------------------------------------*/

.bullet-list {
	@extend %list;
	padding-left: ($pad + ($pad-quarter / 2));

	.list-item {
		list-style-type: disc;
		margin-bottom: $space-quarter;
	}
}





/*------------------------------------*\
    
\*------------------------------------*/