/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * .....List
 * LISTE-ITEM..........................List-Item
 * BULLET-LIST.........................Bullets
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

%list {
	@extend %as-list;
	@extend %as-list--typeset;
}





/*------------------------------------*\
    $LIST-ITEM
\*------------------------------------*/

.list-item {
	margin-bottom: $space-quarter;
	padding-left: $pad;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}
}




/*------------------------------------*\
    $BULLET-LIST
\*------------------------------------*/

.bullet-list {
	@extend %list;

	.list-item {
		&:before {
			@include pseudo-element-default;
			content: "\2022";
			left: 0;
		}
	}
}





/*------------------------------------*\
    
\*------------------------------------*/