/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * .....List
 * LISTE-ITEM..........................List-Item
 * BULLET-LIST.........................Bullets
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

%list {
	@extend %as-list;
	@extend %as-list--typeset;
}

%ul-list-item {
	padding-left: $pad;
}

%ol-list-item {
	margin-left: $pad-and-half;
}





/*------------------------------------*\
    $LIST-ITEM
\*------------------------------------*/

.list-item {
	margin-bottom: $space-quarter;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}
}





/*------------------------------------*\
    $BULLET-LIST
\*------------------------------------*/

.bullet-list {
	@extend %list;

	.list-item {
		@extend %ul-list-item;

		&:before {
			@include pseudo-element-default;
			content: "\2022";
			left: 0;
		}
	}
}





/*------------------------------------*\
    $DECIMAL-LIST
\*------------------------------------*/

.decimal-list {
	@extend %list;
	list-style-type: decimal-leading-zero;

	.list-item {
		@extend %ol-list-item;
	}
}






/*------------------------------------*\
    
\*------------------------------------*/