/*------------------------------------*\
    $MAIN_CONTENT_AREA
\*------------------------------------*/

/**
 * MAIN................................HTML <main> Section
 * SECTIONS............................Content-Container/Column-Wrapper
 * .....section........................Regular
 * .....section-onepage................OnePager
 * STAGE...............................Intro-Element
**/





/*------------------------------------*\
    $MAIN
\*------------------------------------*/

.page-main {
	@extend %page-element-default;
}





/*------------------------------------*\
    $SECTIONS
\*------------------------------------*/

.section {
	@include clearfix;
	clear: both;
	overflow: hidden;
	position: relative;
}

.section-onepage {
	@extend .section;
}

.section-header {
	// height: 350px;

	.parallax-img {
		max-width: none;
		width: 100%;
	}
}

.section-header-content {
	@include constrained;
	@include element-stretch;
}

.section-header-center {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
}

.section-header-center-content {
	display: table-cell;
	vertical-align: middle;
}

.joinmedia {
	background-color: $color-white;
	color: $color-black;
}

.services {
	background-color: $color-blue-mid-dark;

	.block {
		&:nth-of-type(1) {
			background-color: $color-blue-mid-dark;
		}

		&:nth-of-type(2) {
			background-color: $color-blue-dark;
		}

		&:nth-of-type(3) {
			background-color: $color-blue-base;
		}

		&:nth-of-type(4) {
			background-color: $color-blue-x-dark;
		}

		&:nth-of-type(5) {
			background-color: $color-blue-dark;
		}

		&:nth-of-type(6) {
			background-color: $color-blue-base;
		}
	}
}

.customers {
	background-color: $color-white;
	color: $color-black;
}

/*------------------------------------*\
    $STAGE
\*------------------------------------*/

.stage {
	@extend .section;
	@include element-default;
	background-color: $theme-stageteaser-bg;
	margin-bottom: 0;

	@include bp-m {
		height: 100vh;
	}

	.stage-content-inner {
		@include clearfix;
		@include constrained;
	}

	.stage-content-top {
		left: 0;
		position: absolute;
		right: 0;
		top: 25vh;
	}

	.stage-content-mid {
		@include bp-m {
			bottom: $space-triple + $space-half;
			left: 0;
			position: absolute;
			right: 0;
			top: auto;
		}
	}

	.stage-content-bottom {
		background-color: $theme-stageteaser-bg;
		height: $space-triple;

		@include bp-m {
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			top: auto;
		}


		.stage-content-inner {
			height: 100%;
		}
	}

	& > .parallax {
		height: 100vh;

		.parallax-inner {
			height: 100%;
		}

		.parallax-img {
			background-size: cover; 
			width: 100%; 
			height: 100%; 
			display: block;
		}
	}
	
}

/*------------------------------------*\
    
\*------------------------------------*/