@model LandingPageInfo
@{
	Layout = null;
}
<!doctype html>
<html>
	<head>      
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
		<meta name="HandheldFriendly" content="true" />
		<meta name="robots" content="noindex, nofollow" />
		<title>join.media - @Model.PageTitle</title>
		<link rel="stylesheet" href="/css/aquise-lp/min/31789.styles-aquise-lp.css">
		<script src="/js/aquise-lp/min/94057.main-aquise-lp.min.js"></script>
	</head>
	<body>

		<div class="notification">
			<div class="wrap">
				<p>Diese Seite sieht am besten auf Ihrem Handy aus!</p>
				<a href="#" class="notification-close">Schließen</a>
			</div>
		</div>

		<section class="stage">
			<header class="header">
				<div class="wrap">

					<div class="logo-container">
						<a href="http://www.joinmedia.de" target="_blank" class="logo" data-jmtrack="Logo-Link"><img src="/img/aquise-lp/logos/joinmedia.png" alt="join.media Logo" /></a>
					</div>

					<div class="kunden-container">
						<p class="kunden-logo-head">Seit 12 Jahren u.a. tätig für</p>
						<ul class="kunden-logos">
							<li><img src="/img/aquise-lp/logos/eplusgruppe.png" alt="E-Plus"></li>
							<li><img src="/img/aquise-lp/logos/base.png" alt="BASE"></li>
							<li><img src="/img/aquise-lp/logos/cunda.png" alt="C&amp;A" class="toohigh"></li>
							<li><img src="/img/aquise-lp/logos/grey.png" alt="GREY"></li>
						</ul>
					</div>

					<nav class="nav" role="navigation">
						<ul class="nav-items">
							<li class="nav-item"><a class="nav-item-link" href="http://www.joinmedia.de" target="_blank" data-jmtrack="Alle Informationen zur Agentur-Link">Alle Informationen zur Agentur</a></li>   
						</ul>
					</nav>

				</div>
			</header>

			<div class="wrap">
				<div class="stage-headline-box">
					<h1 class="stage-headline">Erreichen Sie einfach die mobile Zielgruppe:</h1>
					<h2 class="stage-subhead">Responsive Rebrushes für Ihr Internet-Projekt.</h2>
					<h2 class="stage-subhead red">So könnte Ihre Webseite auf mobilen Endgeräten aussehen.</h2>
				</div>
			</div>

			<div class="stage-wrap">
				<div class="smartphone-box"> 
					<div class="smartphone">
						<div class="smartphone-header"><img src="/img/aquise-lp/grafiken/smartphone-container-topper.png" alt="" class="smartphone-container-img"></div>
						<div class="smartphone-body"><img src="/img/aquise-lp/grafiken/smartphone-container-body.png" alt="" class="smartphone-container-img"></div>
						<div class="smartphone-bottom"><img src="/img/aquise-lp/grafiken/smartphone-container-bottom.png" alt="" class="smartphone-container-img"></div>
						<div class="scroll">
							<div class="scroll-inner">
								<span class="scroll-image"><img srcset="@Model.DesktopScreenshotUrl" alt="Responsive Rebrush"></span>
							</div>
						</div>
					</div>
				</div>

				<div class="fact-wrap">
					<div class="facts-box">
						<div class="list-check-row">
							<ul class="list-check">
								<li><a class="list-check-link" href="#modal-relaunch" data-jmname="modal" data-jmtrack="Modal-Relaunch">ohne komplizierten Relaunch</a></li> 
								<li><a class="list-check-link" href="#modal-ergebnisse" data-jmname="modal" data-jmtrack="Modal-Ergebnisse">schnelle Ergebnisse</a></li> 
								<li><a class="list-check-link" href="#modal-conversionsteigerung" data-jmname="modal" data-jmtrack="Modal-Conversion-Steigerung">Conversion-Steigerung von bis zu 60% </a></li> 
								<li><a class="list-check-link" href="#modal-performance" data-jmname="modal" data-jmtrack="Modal-Performance">hohe Performance</a></li> 
							</ul>
						</div>

						<div class="stage-cta">
							<h3 class="cta-headline">Haben Sie Fragen oder wollen Sie uns kennenlernen?</h3>
							<a href="#modal-kontakt-one" class="btn-secondary" data-jmname="modal" data-jmkontakt data-jmtrack="CTA-Stage">Klicken Sie, wenn wir Sie anrufen oder Ihnen schreiben dürfen.</a>
						</div>
					</div>

					<a href="#conversion" class="btn-down" data-jmtrack="Button Down"></a>
				</div>
			</div>
		</section>

		<section id="conversion" class="conversion">
			<div class="wrap">
				<h2 class="conversion-headline">Steigerung Ihrer Conversion Rate durch Responsive Webdesign</h2>
				
				<img class="conversion-image-top" src="/img/aquise-lp/grafiken/mobiles-internet-nutzer.jpg" alt="Internetnutzer, die auch mobiles Internet verwenden">

				<div class="conversion-text">
					<p>Bei unserem Verfahren eines <strong>Responsive Rebrushes</strong> kommen wir ohne langwierigen Relaunch aus und erreichen <strong>sehr schnell</strong> die gewünschten Ergebnisse, damit die wirtschaftlichen Effekte schnell für Sie spürbar sind.</p>
					<p>Ohne die <strong>bewährte Struktur</strong> oder den <strong>bewährten Content</strong> in Frage zu stellen, setzen wir Ihre Seite im <strong>bestehenden optischen Eindruck</strong> responsiv um.</p>
					<p>Und wenn Sie gerne mehr Beratung oder Anpassung möchten – kein Problem: Wir helfen Ihnen gerne auch bei der <strong>weiteren Optimierung Ihrer Website</strong> – begleitend zum Rebrush oder als Maßnahme danach, wenn Sie zufrieden sind!</p>
					<p>Wir können Templates mit <strong>hoher Perfomance</strong> und <strong>sehr sauberem HTML</strong> für <strong>alle gängigen Systemumgebungen</strong> liefern – auf Wunsch integrieren wir diese auch.</p>
				</div>

				<img class="conversion-image-bottom" src="/img/aquise-lp/grafiken/conversion-rate-nach-optimierung.png" alt="Bis zu 60% Steigerung der Conversion Rate bei Mobilgeräten nach responsiver Optimierung">
			</div>
		</section>

		<section class="cta">
			<div class="wrap">
				<h3 class="cta-headline">Haben Sie Fragen oder wollen Sie uns kennenlernen?</h3>
				<a href="#modal-kontakt-one" class="btn-primary" data-jmname="modal" data-jmkontakt data-jmtrack="CTA-Bottom">Klicken Sie, wenn wir Sie anrufen oder Ihnen schreiben dürfen.</a>
			</div>
		</section>

		<footer class="footer">
			<div class="wrap">
				<p>© join.media GmbH & Co. KG <a href="http://www.joinmedia.de/Impressum/" target="_blank" data-jmtrack="Impressum">Impressum</a></p>
				<div class="quellen">
					<p><sup>1</sup> <a href="https://www.destatis.de/DE/PresseService/Presse/Pressemitteilungen/2014/03/PD14_089_63931.html" target="_blank">Statistisches Bundesamt - Zahl der mobilen Internetnutzer im Jahr 2013 um 43 % gestiegen</a><br/>
					<sup>2</sup> <a href="http://www.lukew.com/ff/entry.asp?1691" target="_blank">LukeW - Data Monday: Impact of Responsive Designs</a><br/>
				</div>
			</div>
		</footer>

		<div class="modal modal-kontakt-one">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Haben Sie Fragen oder wollen Sie uns kennenlernen?</h3>
					<p>Geben Sie einfach eine E-Mail-Adresse oder eine Telefonnummer und Ihren Namen an, wir melden uns persönlich bei Ihnen.</p>
					<form action="" class="modal-form">
						<div class="field-container">
							<label for="name">Name</label>
							<input type="text" id="name" size="50" maxlength="50" />
						</div>
						<div class="field-container">
							<label for="emailTel">E-Mail oder Telefonnummer</label>
							<input type="text" id="emailTel" size="50" maxlength="50" />
						</div>
						<a href="#modal-kontakt-two" class="btn-primary" data-jmname="modal" data-jmkontakt>Absenden</a>
					</form>
				</div>
			</div>
		</div>

		<div class="modal modal-kontakt-two">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Vielen Dank!</h3>
					<p>Wir melden uns normalerweise innerhalb von 2 Werktagen bei Ihnen.</p>
					<form action="" class="modal-form">
						<div class="field-container">
							<label for="terminwunsch">Haben Sie einen Terminwunsch, tragen Sie ihn gerne ein:</label>
							<textarea id="terminwunsch" rows="7" maxlength="200"></textarea>
						</div>
						<a href="#modal-kontakt-three" class="btn-primary" data-jmname="modal" data-jmkontakt>Absenden</a>
					</form>
					<p class="abstand-oben">Lernen Sie uns gerne auch näher kennen: <br/><a href="http://www.joinmedia.de/">www.joinmedia.de</a></p>
				</div>
			</div>
		</div>

		<div class="modal modal-kontakt-three">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Vielen Dank!</h3>
					<p>Wir kontaktieren Sie gerne zum gewünschten Termin.</p> 
					<p>Lernen Sie uns gerne auch näher kennen: <br/><a href="http://www.joinmedia.de/">www.joinmedia.de</a></p>
				</div>
			</div>
		</div>

		<div class="modal modal-relaunch">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Ohne komplizierten Relaunch</h3>
					<p>Oftmals wird eine responsive Umsetzung mit einem Relaunch gleichgesetzt. Mit allen Risiken:</p>
					<p>Lange Anforderungsaufnahme und Abstimmungsrunden mit verschiedenen Verantwortlichen sowie eine aufwändige Konzeptions-, Gestaltungs- und Produktionsphase - dies alles für eine Seite, mit der man eigentlich zufrieden ist und in die bereits viele Optimierungen eingeflossen sind.</p>
					<p>Deswegen und wegen des Risikos, Budget und Ressourcen auf den Relaunch anstatt den Ausbau des Geschäfts zu bündeln, scheuen viele Unternehmen die längst überfällige Optimierung für mobile Endgeräte.</p>
					<p>join.media entwickelt den Responsive Rebrush weitestgehend unabhängig von diesen Aufwänden. Die gelieferten Templates werden nach Absprache auf die bestehende Umgebung abgestimmt und können direkt in die bestehenden Systeme integriert werden. Der Designanspruch und die bewährte Konzeption der Website bleiben erhalten.</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="modal-close">Schließen</a>
				</div>
			</div>
		</div>

		<div class="modal modal-ergebnisse">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Schnelle Ergebnisse</h3>
					<p>Neben dem Aufwand spielt in modernen Geschäftsprozessen vor allem die Time-to-Market eine entscheidende Rolle. join.media stellt die Ergebnisse des Reponsive Rebrushes je nach Umfang bereits nach 4 Wochen zur Verfügung.</p>
					<p>So können schon nach kurzer Zeit die Vorteile einer responsiven Optimierung zur Verbesserung des User-Erlebnisses und zur Steigerung des Umsatzes und der Verbesserung des User-Erlebnisses genutzt werden.</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="modal-close">Schließen</a>
				</div>
			</div>
		</div>

		<div class="modal modal-conversionsteigerung">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Conversion-Steigerung von bis zu 60%</h3>
					<p>Praktisch alle Use-Cases berichten von einer signifikanten Steigerung der Conversion Rate im mobilen Bereich, nachdem die Site responsiv umgesetzt wurde.</p>
					<p>Bei einem Responsive Rebrush konzentrieren wir uns auf genau diese Steigerung im mobilen Bereich – ohne ein Absinken der Conversion Rate der Desktopversion zu riskieren.</p>
				</div>
				<div class="modal-footer">
					<a href="#" class="modal-close">Schließen</a>
				</div>
			</div>
		</div>

		<div class="modal modal-performance">
			<div class="modal-inner">
				<div class="modal-head">
					<a href="#" class="modal-close">Schließen</a>
				</div>
				<div class="wrap">
					<h3>Hohe Performance</h3>
					<p>Zu moderner Site-Produktion unter wirtschaftlichen Gesichtspunkten gehört eine optimierte Performance. So kann schon eine Sekunde Verzögerung bei der Ladezeit einer Seite 7% der Conversion Rate kosten <sup>*</sup> - was bei gleichbleibendem Warenkorb schnell auch 7% des Umsatzes bedeutet.</p>
					<p>Schon in unseren Basis-Templates ist diese kurze Darstellungszeit gewährleistet. Meistens wird durch die Verwendung der responsiven Templates auch die Perfomance der Desktop-Variante gesteigert. Auf Wunsch optimieren wir die Performance der Website auch weiter.</p>
					<p><sup>*</sup> <a href="http://chimera.labs.oreilly.com/books/1230000000545/ch10.html#SPEED_PERFORMANCE_HUMAN_PERCEPTION" target="_blank">High Performance Browser Networking, Chapter 10. Primer on Web Performance: Speed, Performance, and Human Perception</a></p>
				</div>
				<div class="modal-footer">
					<a href="#" class="modal-close">Schließen</a>
				</div>
			</div>
		</div>
		@if (!Model.IsPreview)
		{
		<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', 'UA-53419987-1', 'auto');
			ga('require', 'linkid', 'linkid.js');
			ga('send', 'pageview');

			$(document).ready(function () {
				$('[data-jmtrack]').click(function () {
					var element = $(this),
						trackingString = element.data('jmtrack');
					ga("send", "event", "landingpage", "click", trackingString);
				});
			});
		</script>
		}
	</body>
</html>