@using JM.ReferenceApplication.Areas.JMTools.Models
@model List<Trace>
     
<table border="1">
    <tr>
        @foreach(var p in typeof(Trace).GetProperties())
        {
            <th data-sort="asc" id="@p.Name">@p.Name</th>
        }
    </tr>   
    @foreach(var row in Model)
    {
        <tr>
            @foreach(var p in typeof(Trace).GetProperties())
            {
                <td>@p.GetValue(row)</td>
            }
        </tr>
    }
</table>