<JM.Business
  moduleName="ModuleNameForJM.Business"
  moduleVersion="0.1">
	<deviceList>
		<add id="0" name="Handy1" manufacturer="Manufacturer1" />
		<add id="1" name="Handy2" manufacturer="Manufacturer2" />
		<add id="2" name="Handy3" manufacturer="Manufacturer3" />
		<add id="3" name="Handy4" manufacturer="Manufacturer4" />
		<add id="4" name="Handy5" manufacturer="Manufacturer5" />
		<add id="5" name="Handy6" manufacturer="Manufacturer6" />
	</deviceList>
</JM.Business>
