<JM.Foundation>
	<!-- Konfiguration für den ExceptionHandler und die Darstellung der Fehlerseiten -->
	<ErrorHttpModule 
		enabled="true"
		errorPageController="Error"
		errorPageAction="DisplayErrorAlternative"
		showErrorDetails="false"/>
	<!-- Configuration das JMBasicAuthFilterAttribute zur BASIC-Authentication von Actions -->
	<JMBasicAuthenticationFilter
		areaname="JM - geschützer Bereich"
		username="Joinmedia"
		password="Join#media960" />
</JM.Foundation>