<JM.Foundation>
	<!-- Konfiguration für den ExceptionHandler und die Darstellung der Fehlerseiten -->
	<ErrorHttpModule 
		enabled="true"
		errorPageController="Error"
		errorPageAction="DisplayErrorAlternative"
		showErrorDetails="false"/>
	<!-- Configuration das JMBasicAuthFilterAttribute zur BASIC-Authentication von Actions -->
	<JMBasicAuthenticationFilter
		areaname="JM - geschützer Bereich"
		username="Joinmedia"
		password="Join#media960" />
	<!-- Configuration der CSS/JS FE Performance und Feature-addtings -->
	<!-- Bitte beachten: Die FeatureIDs mappen auf ein Enum! -->
	<Features>
		<css>
			<responsive>
				<add id="10101" name="flexiblegrids" value="true" description="" />
				<add id="10102" name="flexibleimages" value="true" description="" />
			</responsive>
			<performance>
				<add id="10201" name="prefetching" value="true" description="" />
			</performance>
			<accessibility>
				<add id="10301" name="aria" value="false" description="" />
				<add id="10302" name="microdata" value="false" description="" />
				<add id="10303" name="microformats" value="false" description="" />
				<add id="10304" name="html5_sematics" value="false" description="" />
			</accessibility>
			<ux>
				<add id="10401" name="css3_animations" value="false" description="" />
				<add id="10402" name="uibehaviour" value="false" description="" />
				<add id="10403" name="webfonts" value="false" description="" />
				<add id="10404" name="html5_apis" value="false" description="" />
			</ux>
		</css>
		<javascript>
			<responsive></responsive>
			<performance>
				<add id="20201" name="image_formats" value="true" description="" />
				<add id="20202" name="image_responsive" value="true" description="" />
				<add id="20203" name="asadd_conditionalloading" value="true" description="" />
				<add id="20204" name="asadd_optimisation" value="true" description="" />
				<add id="20205" name="expireheaders" value="true" description="" />
				<add id="20206" name="cdn" value="true" description="" />
				<add id="20207" name="requirejs" value="true" description="" />
				<add id="20208" name="localstorage" value="true" description="" />
				<add id="20209" name="browserperformance" value="true" description="" />
			</performance>
			<accessibility>
				<add id="20301" name="nojs" value="false" description="" />
			</accessibility>
			<ux>
				<add id="20401" name="touchsupport" value="false" description="" />
				<add id="20402" name="progressiveenhancement" value="false" description="" />
			</ux>
		</javascript>
	</Features>
</JM.Foundation>