/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * HEADINGS............................<h1>-<h6>
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

%heading {
	@extend %element-text-default;
	@if $theme-headings-bg != $theme-color-zero {
		background-color: $theme-headings-bg;
	}
	@if $theme-headings-fg != $theme-body-fg {
		color: $theme-headings-fg;
	}
	font: {
		family: $font-heading;
		weight: bold;
	}
}





/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/

h1, .h1 {
	@extend %heading;
	@extend %as-heading__largest;
	@extend %as-heading__largest--typeset;
}

h2, .h2 {
	@extend %heading;
	@extend %as-heading__large;
	@extend %as-heading__large--typeset;
}

h3, .h3 {
	@extend %heading;
	@extend %as-heading__medium;
	@extend %as-heading__medium--typeset;
}

h4, .h4 {
	@extend %heading;
	@extend %as-heading__normal;
	@extend %as-heading__normal--typeset;
}

h5, .h5 {
	@extend %heading;
	@extend %as-heading__small;
	@extend %as-heading__small--typeset;
}

h6, .h6 {
	@extend %heading;
	@extend %as-heading__smallest;
	@extend %as-heading__smallest--typeset;
}





/*------------------------------------*\
    
\*------------------------------------*/