<!DOCTYPE html>
<html class="no-js" lang="de">

<head>
<title>$title$</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="$description$" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-72x72.png" sizes="72x72" />
<link rel="apple-touch-icon" href="/favicon/apple-touch-icon-114x114.png" sizes="114x114" />
<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-144x144-precomposed.png" sizes="144x144" />
<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-114x114-precomposed.png" sizes="114x114" />
<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-72x72-precomposed.png" sizes="72x72" />
<link rel="apple-touch-icon-precomposed" href="/favicon/apple-touch-icon-57x57-precomposed.png" />
<meta name="msapplication-TileImage" content="/favicon/ms-touch-icon-144x144-precomposed.png" />
<meta name="msapplication-TileColor" content="#222222" />
<!-- SERVERABFRAGE
@if (Config.Instance.IsDevServer)
{
-->
<script>
    window.UseLocalStorage = false;
    window.loadUnminifyVersion = true;
    window.debug = true;
</script>
<!-- SERVERABFRAGE
}
else
{
<script>
    window.IsDevServer = false;
    var checkDebugging = function(){
        try{
            if(localStorage.getItem('debugging') !== null){
                window.UseLocalStorage = false;
                window.loadUnminifyVersion = true;
            }else{
                window.UseLocalStorage = true;
                window.loadUnminifyVersion = false;
            }
        }catch(e){
            window.UseLocalStorage = true;
            window.loadUnminifyVersion = false;
        }
    };
    checkDebugging();
</script>
}
-->
<script>
    if(window.UseLocalStorage && window.loadUnminifyVersion){
        console.warn('-------------!!!!!-----localStorage wird nicht gelöscht!------!!!!!-----');
    }

    // Das Objekt dient zum vorhalten von Funktionen, die unmittelbar nach dem ready-Event von jQuery ausgeführt werden sollen
    window.domReadyObject = {
        countProperties: function(){
            var count = 0;
            for(var property in this){
                if(this.hasOwnProperty(property)){
                    count += 1;
                }
            }
            return count;
        }
    };

    // Die übergebenen Funktion wird entweder unmittelbar ausgeführt, wenn jQuery geladen und das 'ready'-Event geschmissen wurde, oder im domReadyObject vorgehalten.
    window.onDomOrAjaxReady = function(p_function){
        if(typeof jQuery !== 'undefined'){
            ($.isReady) ? p_function() : $(document).on('ready', p_function);
        }else{
            window.domReadyObject['func_' + window.domReadyObject.countProperties()] = p_function;
        }
    };

    // Hier werden alle vorgehaltenen Funktionen im domReadyObject ausgeführt
    window.execDomReadyObject = function(){
        for(var property in window.domReadyObject){
            if(window.domReadyObject.hasOwnProperty(property) && ('countProperties' !== property)){
                window.domReadyObject[property]();
            }
        }
    };

    // Modernizr-Test auf localStorage
    window.testLocalStorage = function(){
        var mod = 'modernizr';
        try{
            localStorage.setItem(mod, mod);
            localStorage.removeItem(mod);
            return true;
        }catch(e){
            return false;
        }
    };

    // Die Funktion prüft, ob es im localStorage schon einen identischen key (jeweils ohne versionierungsnummer) gibt und löscht diese incl. value im localStorage.
    window.clearLocalStorageForKey = function(p_key){
        var keyWithoutExtension = p_key.substr(0, p_key.lastIndexOf('.'));
        var nonversionkey = keyWithoutExtension.substr(0, keyWithoutExtension.lastIndexOf('.'));
        var patt = new RegExp(nonversionkey);
        var index = 0;
        var length = localStorage.length;
        try{
            for(; index <= length; index++){
                if(patt.test(localStorage.key(index)) && (localStorage.key(index) !== p_key)){
                    localStorage.removeItem(localStorage.key(index));
                }
            }
        }catch(e){

        }
    };

    // Fügt das CSS zum DOM entweder als link-Element oder aus dem localStorage
    window.addCSSToDOM = function(p_src){
        var linkElem;
        var styleElem;
        // wenn localStorage vorliegt aber der Datei-Pfade(key) und entsprechen die value nicht vorhanden ist.
        // -> dynamische Erstellung eines link-tags mit Angabe des Datei-Pfades und anschließender ajax nach Dom-Ready um den Conten im localStorage abzulengen (kommt aus dem Cache).
        if (window.UseLocalStorage && testLocalStorage() && (localStorage[p_src] === undefined)) {
            // window.localStorage is available!
            linkElem = document.createElement('link');
            linkElem.setAttribute('rel', 'stylesheet');
            linkElem.setAttribute('href', p_src);
            document.getElementsByTagName('head')[0].appendChild(linkElem);
            onDomOrAjaxReady(function(){
                (function(){
                    var xhr;
                    xhr = new XMLHttpRequest();
                    xhr.open('GET', p_src, true);
                    xhr.send();
                    xhr.onreadystatechange = function(){
                        if(xhr.readyState === 4 && xhr.status !== 404 && xhr.responseText !== ''){
                            clearLocalStorageForKey(p_src);
                            localStorage[p_src] = xhr.responseText;
                        }
                    };
                })()
            });
            // wenn localStorage vorliegt und der Datei-Pfade(key) und entsprecher value im localStorage vorhanden ist.
            // -> dynamische Erstellung eines style-tags mit injection der value aus dem localStorage.
        }else if(window.UseLocalStorage && testLocalStorage() && (localStorage[p_src] !== undefined)){
            styleElem = document.createElement('style');
            styleElem.appendChild(document.createTextNode(localStorage[p_src]));
            document.getElementsByTagName('head')[0].appendChild(styleElem);
            // wenn kein localStorage vorliegt
            // -> dynamische Erstellung eines link-tags mit Angabe des Datei-Pfades
        }else{
            linkElem = document.createElement('link');
            linkElem.setAttribute('rel', 'stylesheet');
            linkElem.setAttribute('href', p_src);
            document.getElementsByTagName('head')[0].appendChild(linkElem);
        }
    };

    // Fügt das JS zum DOM entweder als link-Element oder aus dem localStorage
    window.addJSToDOM = function(p_src, p_attrkey, p_attrval){
        var scriptElem;
        // wenn localStorage vorliegt aber der Datei-Pfade(key) und entsprechen die value nicht vorhanden ist.
        // -> dynamische Erstellung eines script-tags mit Angabe des Datei-Pfades und anschließender ajax nach Dom-Ready um den Conten im localStorage abzulengen (kommt aus dem Cache).
        if(window.UseLocalStorage && testLocalStorage() && (typeof localStorage[p_src] === 'undefined')){
            // window.localStorage is available!
            scriptElem = document.createElement('script');
            scriptElem.setAttribute('src', p_src);
            if(typeof p_attrkey !== 'undefined'){
                scriptElem.setAttribute(p_attrkey, p_attrval);
            }
            scriptElem.async = false;
            document.getElementsByTagName('head')[0].appendChild(scriptElem);
            onDomOrAjaxReady(function(){
                (function(){
                    var xhr;
                    xhr = new XMLHttpRequest();
                    xhr.open('GET', p_src, true);
                    xhr.send();
                    xhr.onreadystatechange = function(){
                        if(xhr.readyState === 4 && xhr.status !== 404 && xhr.responseText !== ''){
                            clearLocalStorageForKey(p_src);
                            localStorage[p_src] = xhr.responseText;
                        }
                    };
                })()
            });
            // wenn localStorage vorliegt und der Datei-Pfade(key) und entsprecher value im localStorage vorhanden ist.
            // -> dynamische Erstellung eines style-tags mit injection der value aus dem localStorage.
        }else if(window.UseLocalStorage && testLocalStorage() && (typeof localStorage[p_src] !== 'undefined')){
            scriptElem = document.createElement('script');
            if(typeof p_attrkey !== 'undefined'){
                scriptElem.setAttribute(p_attrkey, p_attrval);
            }
            scriptElem.text = localStorage[p_src];
            document.getElementsByTagName('head')[0].appendChild(scriptElem);
            // wenn kein localStorage vorliegt
            // -> dynamische Erstellung eines link-tags mit Angabe des Datei-Pfades
        }else{
            scriptElem = document.createElement('script');
            scriptElem.setAttribute('src', p_src);
            if(typeof p_attrkey !== 'undefined'){
                scriptElem.setAttribute(p_attrkey, p_attrval);
            }
            scriptElem.async = false;
            document.getElementsByTagName('head')[0].appendChild(scriptElem);
        }
    };

    window.checkLocalStorageByTimestamp = function(){
        if(window.UseLocalStorage && testLocalStorage()){
            try{
                // wenn kein timestamp im localStorage vorhanden ist wird einer erstellt.
                if(localStorage.getItem('timestamp') === null){
                    localStorage['timestamp'] = new Date().getTime().toString();
                }else{
                    // wenn der timestamp im localStorage kleiner ist als der fest codierte Timestamp, wird wird der localStorage gelöscht.
                    if (parseInt(localStorage['timestamp'], 10) < 1402389706108) { // Nicht Ändern!!!! So wird bei allen Clients der localStorage gelöscht!!!! Nur Ändern, wenn sich die Datei-Pfad in der main.js zu den Modulen ändern Bsp. require.config({  paths:{ 'jmButtonForAddClassOnRelatedElem': 'mylibs/AMD-Plugins/jmButtonForAddClassOnRelatedElem',......
                        window.localStorage.clear();
                    }
                }
            }catch(e){
            }
        }
    };

    checkLocalStorageByTimestamp();
</script>
<script>
    if (window.loadUnminifyVersion) {
        addJSToDOM('/js/externals/customized/modernizr.custom.js');
        addJSToDOM('/js/externals/vendor/matchmedia.js');
        addJSToDOM('/js/externals/originalReferenceSource/picturefill2.js');
        addCSSToDOM('/css/style.css');
        addJSToDOM('/js/externals/customized/require.2.1.11.js', 'data-main', '/js/require-main.js');
    } else {
        addJSToDOM('/js/build/externals/customized/modernizr.custom.6966b8.js');
        addJSToDOM('/js/build/externals/vendor/matchmedia.05942b.js');
        addJSToDOM('/js/build/externals/originalReferenceSource/picturefill2.40a9ae.js');
        addJSToDOM('/js/build/externals/customized/require.2.1.11.fce06e.js', 'data-main', '/js/build/require-main.35bb76.js');
        if (navigator.appVersion.indexOf("MSIE 8.") != -1) {
            var linkElem = document.createElement('link');
            linkElem.setAttribute('rel', 'stylesheet');
            linkElem.setAttribute('href', '/css/min/style.458d37.css');
            document.getElementsByTagName('head')[0].appendChild(linkElem);
        } else {
            addCSSToDOM('/css/min/style.458d37.css');
        }
    }
</script>
<noscript>
<!-- SERVERABFRAGE
    @if (Config.Instance.IsDevServer)
    {
-->
    <link rel="stylesheet" href="/css/style.css" />
<!-- SERVERABFRAGE
    }
    else
    {
    <link rel="stylesheet" href="/css/min/style.458d37.css" />
    }
-->
    <link rel="stylesheet" href="/css/noscript.css" />
</noscript>
</head>

<body>
<div class="body">
	<header role="banner">
		$header$
		<form role="search">
			<input type="search" name="search" />
		</form>
		<nav role="navigation">
			$navigation$
		</nav>
	</header>
	<main role="main">
		$main-content$
	</main>
	<footer role="contentinfo">
		$footer$
	</footer>
</div>
</body>

</html>