@model AnimatedImageSwap

@if (Model != null && !Model.Hide)
{
	@*//////////////////////////////////////////////////////////////////////////////////////
	CODE *@

	//
	
	@*//////////////////////////////////////////////////////////////////////////////////////
	HTML *@
	<div class="overlapping">
		<div class="overlapped">
			@Html.Image(Model.Image1)
		</div>
		<div data-jmdominit="true" data-jmname="add-remove-show-on-view" class="to-overlap JSINIT-add-remove-show-on-view-EL-actions.remove JSINIT-add-remove-show-on-view-EL-actions.add show">
			@Html.Image(Model.Image2)
		</div>
	</div>
}