<div data-jmname="carousel" data-jmdominit="true">
    <div class="stage-teaser">STAGE-TEASER-1</div>
    <!-- comment in by JS <img src="$stage-teaser-img$-140-48.jpg" class="owl-page-img" /><p class="owl-page-title">$Stage-Teaser-Thumb-Text$</p> -->
    <div class="stage-teaser">STAGE-TEASER-2</div>
    <!-- comment in by JS <img src="$stage-teaser-img$-140-48.jpg" class="owl-page-img" /><p class="owl-page-title">$Stage-Teaser-Thumb-Text$</p> -->
</div>