@model FaqRegion
<div class="stage-teaser">
    <header class="st-header">
        <h2 class="st-head">Faqs header</h2>
    </header>  
    <div class="st-content">
        @if(Model.Faqs != null && Model.Faqs.Any(f => !string.IsNullOrEmpty(f.Body) && !string.IsNullOrEmpty(f.Title)))
        {
            <ul class="bullet-list">
                @foreach(var faq in Model.Faqs)
                {   
                    <li class="list-item">@faq.Title</li>
                    <li class="list-item">@faq.Body</li>
                }
            </ul>
        }
    </div>
    <footer class="st-footer">
        <a class="cta" href="$cta-link$">faqs footer</a>
    </footer>
</div>