@model TeaserExtension
<div class="stage-teaser">
    <div class="st-img">
        @*@Html.Partial("_PictureFill", new PictureFillModel{ ImageName = "stage-teaser/stage-teaser", Width = 1240, Height = 468, WidthTablet = 960, HeightTablet = 468, WidthMobile = 768, HeightMobile = 197, Alt="Stage-Teaser-ALT", Attributes = new {}})*@
    </div>
    <header class="st-header">
        <h2 class="st-head">@Model.Title</h2>
    </header>
    <div class="st-content">
        <ul class="bullet-list">
            <li class="list-item">$list-item$</li>
            <li class="list-item">$list-item$</li>
            <li class="list-item">$list-item$</li>
        </ul>
    </div>
    <footer class="st-footer">
        <a class="cta" href="$cta-link$">$cta$</a>
    </footer>
</div>