<div class="tabs">
	<input type="radio" id="tab1" name="tab" class="tab-control" checked />
	<label for="tab1" class="tab">$tab-label$</label>
	<input type="radio" id="tab2" name="tab" class="tab-control" />
	<label for="tab2" class="tab">$tab-label</label>
	<input type="radio" id="tab3" name="tab" class="tab-control" />
	<label for="tab3" class="tab">$tab-label</label>
	<div class="tab-content">
		$tab-content1$
	</div>
	<div class="tab-content">
		$tab-content2$
	</div>
	<div class="tab-content">
		$tab-content3$
	</div>
</div>