/*------------------------------------*\
    $GOOGLE_MAPS
\*------------------------------------*/

#map-canvas {
	height: 250px;

	@include bp-l {
		height: 400px;
	}

	@include bp-xl {
		height: $shp-height-m;
	}

	img {
		// Fix gegen verzerrte Google Maps Controls
		max-width: none;
	}
}

.maps-infowindow {
	min-height: 140px;

	.maps-iw-head {
		background-color: $theme-section-header-bg;
		color: $theme-section-header-fg;
		font: {
			family: $font-heading;
			weight: bold;
		}
	}

	.maps-iw-main {
		color: $color-black;
	}
}





/*------------------------------------*\
	
\*------------------------------------*/