/*------------------------------------*\
    $SECTION-HEADER
\*------------------------------------*/

$shp-height-s: 400px;
$shp-height-m: 540px;

.section-header {
	position: relative;
	
	.sh-content {
		@include constrained;
		@include element-stretch;
		height: $shp-height-s;

		@include bp-m {
			height: $shp-height-m;
		}

		&-append-on-mobile {
			@include constrained;

			@include bp-m {
				@include element-stretch;
				margin-top: $space-double;
			}
		}

		&-map {
			@include constrained;
		}
	}

	.sh-headline {
		@extend %element-default;
		bottom: $space-double;
		margin-bottom: 0;
		padding-left: 1%;
		position: absolute;
		width: auto;

		h1, h2, h3, h4, h5, h6 {
			@include rgba($theme-body-fg, .8);
			color: $theme-body-bg;
			display: inline-block;
			font-weight: bold;
			margin-bottom: 0;
			margin-left: 0 !important;
			margin-right: 0 !important;
			padding: 0.75rem 1rem;
			position: relative;
		}
	}

	.sh-map {
		height: $shp-height-s;
		margin: 0 1.04167%;

		@include bp-m {
			height: $shp-height-m;
		}

		img {
			// Fix gegen verzerrte Google Maps Controls
			max-width: none;
		}
	}

	.sh-parallax {
		@extend .parallax;
		background: $color-white;
		height: $shp-height-s;

		@include bp-m {
			height: $shp-height-m;
		}

		.parallax-img {
			max-width: none;
			// width: 100%;
		}
	}

	.tiles {
		&.tiles-1x4 {
			.tile {
				@include bp-s {
					@include column(4);
				}

				@include bp-m {
					@include column(3);
				}
			}
		}
	}
}