/*------------------------------------*\
    $SECTION-HEADER
\*------------------------------------*/

.section-header {
	@extend %element-default;
	margin-top: -($layout-header-height);
	
	.sh-content {
		@include constrained;
		@include element-stretch;
		height: $shp-height-s;

		@include bp-m {
			height: $shp-height-m;
		}

		&-append-on-mobile {
			@include constrained;

			@include bp-m {
				@include element-stretch;
				margin-top: $space-double;
			}
		}

		&-map {
			@include constrained;
		}
	}

	.sh-headline {
		@include element-inner-default;
		@include absolute('', '', $space-double, '');
		margin-bottom: 0;
		width: auto;

		h1, h2, h3, h4, h5, h6 {
			@include rgba($theme-section-header-bg, .8);
			@include element-inner-default;
			color: $theme-section-header-fg;
			display: inline-block;
			font-weight: bold;
		}
	}

	.parallax {
		background: $color-white;
		height: $shp-height-s;

		@include bp-m {
			height: $shp-height-m;
		}

		.parallax-inner {
			.parallax-img {
				max-width: none;
			}
		}
	}

	.tiles {
		&.tiles-1x4 {
			.tile {
				@include bp-s {
					@include column(4);
				}

				@include bp-m {
					@include column(3);
				}
			}
		}
	}
}