/*------------------------------------*\
    $STAGE-TEASER
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * STAGE-TEASER........................Stage-Teaser Element
**/

/**
 * Der "stage-teaser" findet sich als einleitendes Element einer Seite.
 * Innerhalb "stage-teaser" gibt es drei Elemente: "stage-teaser-img", "stage-teaser-head" und "stage-teaser-content".
 * "stage-teaser-img" ist das Keyvisual.
 * "stage-teaser-head" ist die Headline.
 * "stage-teaser-content" umfasst den restlichen Inhalt.
 *
 * Die img-Höhe muss festgesetzt werden, weil "stage-teaser" ebenfalls als "carousel" angezeigt werden kann.
 * $stage-teaser-img-height:	195px;	// img-Höhe-S
 * $stage-teaser-img-height-m:	468px;	// img-Höhe-M
 *
	<div class="stage-teaser">
    </div>
 *
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

// Höhe des Teaserbildes fix setzen
/*$stage-teaser-img-height:	197px;	// img-Höhe-S*/
$stage-teaser-img-height-m:	500px;	// img-Höhe-M
$stage-teaser-img-height-l:	500px;	// img-Höhe-L





/*------------------------------------*\
    $STAGE-TEASER
\*------------------------------------*/

.stage-teaser {
	@extend %element-default;
	overflow: hidden;

	@include bp-m {
		min-height: $stage-teaser-img-height-m;
	}

	@include bp-l {
		min-height: $stage-teaser-img-height-l;

		main > & {
			margin-top: -($default-element-spacing);
		}
	}

	// Das Keyvisual
	.st-figure {
		margin-bottom: $default-spacing;
		overflow: hidden;
		
		@include bp-m {
			@include absolute(0, 0, '', 0);
		}

		// Below we limit the minimun height on mobile and crop to the left
		img {
			max-width: $bp-m;

			@include bp-m {
				max-width: $bp-l;
				min-height: $stage-teaser-img-height-m;
			}

			@include bp-l {
				max-width: 100%;
				min-height: $stage-teaser-img-height-m;
				min-width: $layout-maxwidth;
			}
		}
	}

	// Footerbereich <footer>
	.st-footer {
		@include bp-m {
			@include absolute('', '', $default-spacing, '');
		}
	}

	// Die einleitende Headline
	.st-head {
		/**/
	}

	// Headerbereich <header>
	.st-header {
		/**/
	}

	// Innerer Container für "st-header", "st-main", "st-footer"
	.st-inner {
		@include element-indent;

		@include bp-m {
			@include column(8);
			@include rgba(#fff, .75);
			margin: $space $pad-and-half;
			padding: $space $pad-and-half $space-triple;
			position: relative;
		}

		@include bp-l {
			@include column(6);
			margin: $space $pad-and-half;
			padding: $space $pad-and-half $space-triple;
		}
	}

	// Umfasst den textlichen Inhalt
	.st-main {
		/**/
	}
}





/*------------------------------------*\
    
\*------------------------------------*/