<div class="row">
	<div class="col-lg-12">
		<h1>JMUI <small style="color: #d2691e"><span class="glyphicon glyphicon-tag"></span> DEMO</small></h1>
		<p>Hier werden alle Contentelemente der JMUI demonstriert.</p>
		<hr />
		<ul>
			<li><a href="/JMDemo/Demo/JMUI#Text-Elemente">JM UI Textelemente</a>
			<li><a href="/JMDemo/Demo/JMUI#UI-Elemente">JM UI Elemente</a>
			<li><a href="/JMDemo/Demo/JMUI#SocialMedia">JM UI SocialMedia</a>
			<li><a href="/JMDemo/Demo/JMUI_Animation">JM UI Animationen</a>
			<li><a href="/JMDemo/Demo/JMUI_Templates">JM UI Templates</a>
		</ul>
	</div>
</div>


