@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

<h2 id="Prallax-Image">Templates-Demo</h2>
<div class="block">
	<div class="block-content">
		<ul>
			<li><a class="link" href="/JMDemo/Demo/JMUI_Template_Default">Demo-Template-Default</a></li>
			<li><a class="link" href="/JMDemo/Demo/JMUI_Template_Constrained">Demo-Template-Constrained</a></li>
		</ul>
	</div>
</div>
