@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

@section head {
<style>
.demo-section { margin-bottom: 3rem; }
.demo-section > .block { background-color: #f0f0f0; margin-bottom: 0; padding-bottom: 1rem; padding-top: 1rem; 
	-moz-transition:    background-color .3s ease;
	-ms-transition:     background-color .3s ease;
	-o-transition:      background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition:         background-color .3s ease;
}
.demo-section > .block:hover { background-color: #f9f9f9; }
.demo-section > .togglebox { margin-bottom: 3px; }
.demo-section > .togglebox.show > .tb-content { border: 1px solid #ddd; padding: 1rem 0 0; }
#UI-Elemente-Navigation + .togglebox.show .tb-content { overflow: visible; padding-bottom: 1rem; }
</style>
}
<h2 id="parallax">Parallax-Image (Gyroscope orientationSupport depth: 1.1)</h2>
<div class="demo-section">
	<div class="parallax" data-jmname="parallax-content-orientation" data-jmdominit="true">
		<div class="parallax-inner layer" data-depth="1.1" style="margin: 0 -5%;">
			<picture>
				<source srcset="/Areas/JMDemo/img/1.1/home-1408x-528y.jpg" media="(min-width: 60em)"></source>
				<source srcset="/Areas/JMDemo/img/1.1/home-1056x-396y.jpg" media="(min-width: 48em)"></source>
				<source srcset="/Areas/JMDemo/img/1.1/home-844x-317y.jpg, /images/1.1/home-844x-317y-x2.jpg 2x"></source>
				<img srcset="/Areas/JMDemo/img/1.1/home-844x-317y.jpg, /images/1.1/home-844x-317y-x2.jpg 2x" alt="" class="parallax-img" style="margin: -2.5% 0; width: 110%;">
			</picture>
		</div>
	</div>
</div>