@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section navigation {
	@Html.Partial("_Navigation")
}

<h2 id="Text-Elemente">Text-Elemente</h2>
<div class="demo-section">
	<div class="block" id="Text-Elemente-Heading">
		<section class="block-content">
			<h3>Heading</h3>
			<p>Headlines &lt;h1&gt;-&lt;h6&gt;</p>
			<img src="/Areas/JMDemo/img/test.jpg" />
		</section>
	</div>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<section class="block">
				<div class="block-content">
					<h1>Lorem ipsum dolor sit amet</h1>
					<h2>Lorem ipsum dolor sit amet</h2>
					<h3>Lorem ipsum dolor sit amet</h3>
					<h4>Lorem ipsum dolor sit amet</h4>
					<h5>Lorem ipsum dolor sit amet</h5>
					<h6>Lorem ipsum dolor sit amet</h6>
				</div>
			</section>
		</div>
	</div>
	<div class="block" id="Text-Elemente-Text">
		<section class="block-content">
			<h3>Text</h3>
			<p>Fließtext Element</p>
		</section>
	</div>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<section class="block">
				<div class="block-content">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
			</section>
		</div>
	</div>
	<div class="block" id="Text-Elemente-Listen">
		<section class="block-content">
			<h3>Listen</h3>
			<p>Listentypen</p>
		</section>
	</div>
	<div class="togglebox" id="Text-Elemente-Listen-Bullet">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Bullet List)</a>
		<div class="tb-content">
			<section class="block">
				<div class="block-content">
					<ul class="bullet-list">
						<li class="list-item">Lorem ipsum dolor sit amet</li>
						<li class="list-item">Lorem ipsum dolor sit amet</li>
						<li class="list-item">Lorem ipsum dolor sit amet</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div class="togglebox" id="Text-Elemente-Listen-Decimal">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Decimal List)</a>
		<div class="tb-content">
			<section class="block">
				<div class="block-content">
					<ol class="decimal-list">
						<li class="list-item">Lorem ipsum dolor sit amet</li>
						<li class="list-item">Lorem ipsum dolor sit amet</li>
						<li class="list-item">Lorem ipsum dolor sit amet</li>
					</ol>
				</div>
			</section>
		</div>
	</div>
</div>
<h2 id="UI-Elemente">UI-Elemente</h2>
<div class="demo-section">
	<div class="block" id="UI-Elemente-Accordion">
		<section class="block-content">
			<h3>Accordion</h3>
			<p>Ziehharmonika Effekt</p>
		</section>
	</div>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<div class="accordion">
				<ul class="acc-group">
					<li class="acc-item">
						<a class="acc-handle" data-jmname="accordionbox" href="#">Lorem Accordion</a>
						<section class="acc-panel">
							<h5>Lorem Accordion</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						</section>
					</li>
					<li class="acc-item">
						<a class="acc-handle" data-jmname="accordionbox" data-jmconfig="[{ 'url': '/ajax-files/togglebox.html' }, {}, {}]" href="#">Ipsum Accordion (ajax)</a>
						<section class="acc-panel"></section>
					</li>
					<li class="acc-item">
						<a class="acc-handle" data-jmname="accordionbox" href="#">Dolor Accordion</a>
						<section class="acc-panel">
							<h5>Dolor Accordion</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						</section>
					</li>
					<li class="acc-item">
						<a class="acc-handle" data-jmname="accordionbox" href="#">Sit amet Accordion</a>
						<section class="acc-panel">
							<h5>Sit amet Accordion</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						</section>
					</li>
					<li class="acc-item">
						<a class="acc-handle" data-jmname="accordionbox" href="#">Consetetur Accordion</a>
						<section class="acc-panel">
							<h5>Consetetur Accordion</h5>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						</section>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="block" id="UI-Elemente-Back-To-Top">
		<section class="block-content">
			<h3>Back-To-Top</h3>
			<p>Button scrollt die Seite nach oben</p>
		</section>
	</div>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<section class="block" data-jmselector="equal-heights-children">
				<div class="block-content">
					<a class="back-to-top" href="#" data-jmname="back-to-top">Zurück nach oben</a>
				</div>
			</section>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Block">
		<section class="block-content">
			<h3>Block</h3>
			<p>Contentelement bestehend aus Text und Optionalem Bild. Das Bild kann flexibel ausgerichtet werden.</p>
		</section>
	</section>
	<div class="togglebox" id="UI-Elemente-Block-Default">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Default Block-Element)</a>
		<div class="tb-content">
			<div class="block" data-jmselector="equal-heights-children">
				<section class="block-content">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</section>
			</div>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Block-Header">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Block mit zusätzlichem Header)</a>
		<div class="tb-content">
			<div class="block" data-jmselector="equal-heights-children">
				<header class="block-header">
					<h2 class="block-head">Lorem ipsum dolor sit amet</h2>
				</header>
				<section class="block-content">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</section>
			</div>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Block-Bild-Links">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Block mit Bild links)</a>
		<div class="tb-content">
			<div class="block img-left" data-jmselector="equal-heights-children">
				<div class="block-figure"><img src="//dummyimage.com/1920x480/666/ddd.png&text=LOREM" alt="" /></div>
				<section class="block-content">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</section>
			</div>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Block-Bild-Rechts">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Block mit Bild rechts)</a>
		<div class="tb-content">
			<div class="block img-right" data-jmselector="equal-heights-children">
				<section class="block-content">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</section>
				<div class="block-figure"><img src="//dummyimage.com/1920x480/666/ddd.png&text=LOREM" alt="" /></div>
			</div>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Block-Bild-Oben">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Block mit Bild oben)</a>
		<div class="tb-content">
			<div class="block img-top" data-jmselector="equal-heights-children">
				<div class="block-figure"><img src="//dummyimage.com/1920x480/666/ddd.png&text=LOREM" alt="" /></div>
				<section class="block-content">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</section>
			</div>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Block-Bild-Unten">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Block mit Bild unten)</a>
		<div class="tb-content">
			<div class="block img-bottom" data-jmselector="equal-heights-children">
				<section class="block-content">
					<h3>Lorem ipsum dolor sit amet</h3>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</section>
				<div class="block-figure"><img src="//dummyimage.com/1920x480/666/ddd.png&text=LOREM" alt="" /></div>
			</div>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Carousel">
		<section class="block-content">
			<h3>Carousel</h3>
			<p>Umschließt mindestens zwei Elemente und funktioniert es zu einer Rotation.</p>
		</section>
	</section>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<div data-jmname="carousel" data-jmdominit="true">
				<div class="stage-teaser visible">
					<div class="st-figure">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="//dummyimage.com/1240x468/666/ddd.png&text=LOREM" media="(min-width: 60em)" /></source>
							<source srcset="//dummyimage.com/960x468/666/ddd.png&text=LOREM" media="(min-width: 48em)" /></source>
							<source srcset="//dummyimage.com/768x197/666/ddd.png&text=LOREM"></source>
							<!--[if IE 9]></video><![endif]-->
							<img srcset="//dummyimage.com/1240x468/666/ddd.png&text=LOREM" src="//dummyimage.com/1240x468/666/ddd.png&text=LOREM" alt="IMG" /></source>
						</picture>
					</div>
					<div class="st-inner">
						<header class="st-header">
							<h2 class="st-head">Lorem ipsum dolor sit amet</h2>
						</header>
						<div class="st-content">
							<ul class="bullet-list">
								<li class="list-item">Lorem ipsum dolor sit amet</li>
								<li class="list-item">Consetetur sadipscing elitr</li>
								<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
							</ul>
						</div>
						<footer class="st-footer">
							<a class="cta" href="#">Lorem</a>
						</footer>
					</div>
				</div>
				<!-- comment in by JS <img src="//dummyimage.com/140x48/666/ddd.png&text=LOREM" alt="LOREM" class="owl-page-img" /><p class="owl-page-title">Lorem ipsum dolor sit amet Promo</p> -->
				<div class="stage-teaser hide-large hide-med">
					<div class="st-figure">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="//dummyimage.com/1240x468/666/ddd.png&text=CONSETETUR" media="(min-width: 60em)" /></source>
							<source srcset="//dummyimage.com/960x468/666/ddd.png&text=CONSETETUR" media="(min-width: 48em)" /></source>
							<source srcset="//dummyimage.com/768x197/666/ddd.png&text=CONSETETUR"></source>
							<!--[if IE 9]></video><![endif]-->
							<img srcset="//dummyimage.com/1240x468/666/ddd.png&text=CONSETETUR" src="//dummyimage.com/1240x468/666/ddd.png&text=CONSETETUR" alt="IMG" /></source>
						</picture>
					</div>
					<div class="st-inner">
						<header class="st-header">
							<h2 class="st-head">Consetetur sadipscing elitr</h2>
						</header>
						<div class="st-content">
							<ul class="bullet-list">
								<li class="list-item">Lorem ipsum dolor sit amet</li>
								<li class="list-item">Consetetur sadipscing elitr</li>
								<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
							</ul>
						</div>
						<footer class="st-footer">
							<a class="cta" href="#">Lorem</a>
						</footer>
					</div>
				</div>
				<!-- comment in by JS <img src="//dummyimage.com/140x48/666/ddd.png&text=CONSETETUR" alt="CONSETETUR" class="owl-page-img" /><p class="owl-page-title">Consetetur sadipscing elitr Promo</p> -->
				<div class="stage-teaser hide-large hide-med">
					<div class="st-figure">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="//dummyimage.com/1240x468/666/ddd.png&text=SED-DIAM" media="(min-width: 60em)" /></source>
							<source srcset="//dummyimage.com/960x468/666/ddd.png&text=SED-DIAM" media="(min-width: 48em)" /></source>
							<source srcset="//dummyimage.com/768x197/666/ddd.png&text=SED-DIAM"></source>
							<!--[if IE 9]></video><![endif]-->
							<img srcset="//dummyimage.com/1240x468/666/ddd.png&text=SED-DIAM" src="//dummyimage.com/1240x468/666/ddd.png&text=SED-DIAM" alt="IMG" /></source>
						</picture>
					</div>
					<div class="st-inner">
						<header class="st-header">
							<h2 class="st-head">Sed diam nonumy eirmod tempor invidunt</h2>
						</header>
						<div class="st-content">
							<ul class="bullet-list">
								<li class="list-item">Lorem ipsum dolor sit amet</li>
								<li class="list-item">Consetetur sadipscing elitr</li>
								<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
							</ul>
						</div>
						<footer class="st-footer">
							<a class="cta" href="#">Lorem</a>
						</footer>
					</div>
				</div>
				<!-- comment in by JS <img src="//dummyimage.com/140x48/666/ddd.png&text=SED-DIAM" alt="SED DIAM" class="owl-page-img" /><p class="owl-page-title">Sed diam nonumy eirmod tempor invidunt Promo</p> -->
			</div>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Navigation">
		<section class="block-content">
			<h3>Navigation</h3>
			<p>Hauptnavigation/Menu</p>
		</section>
	</section>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<nav class="nav" id="nav" role="navigation">
				<a href="#nav" class="menu-btn" data-jmname="nav">Menu</a>
				<ul class="nav-items">
					<li class="nav-item menu-item">
						<a href="#/Item-1" class="nav-link" data-jmname="nav-link" data-jmdominit="true">Item 1</a>
						<div class="flyout">
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-1/Subitem-1">Subitem 1</a></div>
								<ul class="flyout-items">
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-1/Subsubitem-1">Subsubitem 1</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-1/Subsubitem-2">Subsubitem 2</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-1/Subsubitem-3">Subsubitem 3</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-1/Subsubitem-4">Subsubitem 4</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-1/Subsubitem-5">Subsubitem 5</a></li>
								</ul>
							</div>
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-1/Subitem-2">Subitem 2</a></div>
								<ul class="flyout-items">
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-2/Subsubitem-1">Subsubitem 1</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-2/Subsubitem-2">Subsubitem 2</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-2/Subsubitem-3">Subsubitem 3</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-2/Subsubitem-4">Subsubitem 4</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-1/Subitem-2/Subsubitem-5">Subsubitem 5</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav-item menu-item">
						<a href="#/Item-2" class="nav-link" data-jmname="nav-link" data-jmdominit="true">Item 2</a>
						<div class="flyout">
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-2/Subitem-1">Subitem 1</a></div>
							</div>
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-2/Subitem-2">Subitem 2</a></div>
							</div>
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-2/Subitem-3">Subitem 3</a></div>
							</div>
						</div>
					</li>
					<li class="nav-item menu-item">
						<a href="#/Item-3" class="nav-link" data-jmname="nav-link" data-jmdominit="true">Item 3</a>
						<div class="flyout">
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-3/Subitem-1">Subitem 1</a></div>
							</div>
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" data-jmname="flyout-link" href="#/Item-3/Subitem-2">Subitem 2</a></div>
								<ul class="flyout-items">
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-2/Subsubitem-1">Subsubitem 1</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-2/Subsubitem-2">Subsubitem 2</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-2/Subsubitem-3">Subsubitem 3</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-2/Subsubitem-4">Subsubitem 4</a></li>
								</ul>
							</div>
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" data-jmname="flyout-link" href="#/Item-3/Subitem-3">Subitem 3</a></div>
								<ul class="flyout-items">
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-3/Subsubitem-1">Subsubitem 1</a></li>
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-3/Subsubitem-2">Subsubitem 2</a></li>
								</ul>
							</div>
							<div class="flyout-group">
								<div class="flyout-item"><a class="flyout-group-title" href="#/Item-3/Subitem-4">Subitem 4</a></div>
								<ul class="flyout-items">
									<li class="flyout-item"><a class="flyout-link" href="#/Item-3/Subitem-4/Subsubitem-1">Subsubitem 1</a></li>
								</ul>
							</div>
						</div>
					</li>
					<li class="nav-item menu-item"><a href="#/Item-4" class="nav-link">Item 4</a></li>
					<li class="nav-item menu-item"><a href="#/Item-5" class="nav-link" target="_blank">Item 5</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Stage-Teaser">
		<section class="block-content">
			<h3>Stage-Teaser</h3>
			<p>Hauptbühnen-Element</p>
		</section>
	</section>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<div class="stage-teaser">
				<div class="st-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/1240x468/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/960x468/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/1240x468/666/ddd.png&text=IMG" src="//dummyimage.com/1240x468/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="st-inner">
					<header class="st-header">
						<h2 class="st-head">Lorem ipsum dolor sit amet</h2>
					</header>
					<div class="st-content">
						<ul class="bullet-list">
							<li class="list-item">Lorem ipsum dolor sit amet</li>
							<li class="list-item">Consetetur sadipscing elitr</li>
							<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
						</ul>
					</div>
					<footer class="st-footer">
						<a class="cta" href="#">Lorem</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Tabs">
		<section class="block-content">
			<h3>Tabs</h3>
			<p>Reiternavigation</p>
		</section>
	</section>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<div class="tabs">
				<input type="radio" id="tab1" name="tab" class="tab-control" checked />
				<label for="tab1" class="tab">Lorem</label>
				<input type="radio" id="tab2" name="tab" class="tab-control" />
				<label for="tab2" class="tab">Ipsum</label>
				<input type="radio" id="tab3" name="tab" class="tab-control" />
				<label for="tab3" class="tab">Dolor sit</label>
				<div class="tab-content">
					<h5>Lorem Content</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="tab-content">
					<h5>Ipsum Content</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
				<div class="tab-content">
					<h5>Dolor sit Content</h5>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Teaser">
		<section class="block-content">
			<h3>Teaser</h3>
			<p>Teaserelement</p>
		</section>
	</section>
	<div class="togglebox" id="UI-Elemente-Teaserx1">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Teaser x1)</a>
		<div class="tb-content">
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">Lorem ipsum dolor sit amet</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">Lorem ipsum dolor sit amet</li>
							<li class="list-item">Consetetur sadipscing elitr</li>
							<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Teaserx2">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Teaser x2)</a>
		<div class="tb-content">
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">Lorem ipsum dolor sit amet</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">Lorem ipsum dolor sit amet</li>
							<li class="list-item">Consetetur sadipscing elitr</li>
							<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
							<li class="list-item">Stet clita kasd gubergren.</li>
							<li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Teaserx3">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Teaser x3)</a>
		<div class="tb-content">
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">Lorem ipsum dolor sit amet</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">Lorem ipsum dolor sit amet</li>
							<li class="list-item">Consetetur sadipscing elitr</li>
							<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
							<li class="list-item">Stet clita kasd gubergren.</li>
							<li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
							<li class="list-item">Stet clita kasd gubergren.</li>
							<li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Teaserx4">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (Teaser x4)</a>
		<div class="tb-content">
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">Lorem ipsum dolor sit amet</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">Lorem ipsum dolor sit amet</li>
							<li class="list-item">Consetetur sadipscing elitr</li>
							<li class="list-item">Sed diam nonumy eirmod tempor invidunt</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
							<li class="list-item">Stet clita kasd gubergren.</li>
							<li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
							<li class="list-item">Stet clita kasd gubergren.</li>
							<li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
			<a class="teaser" href="#" data-jmselector="equal-heights-children">
				<div class="t-figure">
					<picture>
						<!--[if IE 9]><video style="display: none;"><![endif]-->
						<source srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" media="(min-width: 60em)" /></source>
						<source srcset="//dummyimage.com/959x299/666/ddd.png&text=IMG" media="(min-width: 48em)" /></source>
						<source srcset="//dummyimage.com/768x197/666/ddd.png&text=IMG"></source>
						<!--[if IE 9]></video><![endif]-->
						<img srcset="//dummyimage.com/610x190/666/ddd.png&text=IMG" src="//dummyimage.com/610x190/666/ddd.png&text=IMG" alt="IMG" /></source>
					</picture>
				</div>
				<div class="t-inner">
					<header class="t-header">
						<h3 class="t-head">At vero eos et accusam et justo duo dolores et ea rebum</h3>
					</header>
					<div class="t-content">
						<ul class="bullet-list">
							<li class="list-item">At vero eos et accusam et justo duo dolores et ea rebum.</li>
							<li class="list-item">Stet clita kasd gubergren.</li>
							<li class="list-item">No sea takimata sanctus est Lorem ipsum dolor sit amet.</li>
						</ul>
					</div>
					<footer class="t-footer">
						<span class="btn">Lorem</span>
					</footer>
				</div>
			</a>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Tiles">
		<section class="block-content">
			<h3>Tiles</h3>
			<p>Kacheln</p>
		</section>
	</section>
	<div class="togglebox" id="UI-Elemente-Tiles-1x2">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (1x2: Default)</a>
		<div class="tb-content">
			<ul class="tiles tiles">
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=1" alt="1" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=2" alt="2" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=3" alt="3" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=4" alt="4" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=5" alt="5" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=6" alt="6" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=7" alt="7" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=8" alt="8" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=9" alt="9" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=10" alt="10" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=11" alt="11" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=12" alt="12" /></li>
			</ul>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Tiles-1x4">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (1x4)</a>
		<div class="tb-content">
			<ul class="tiles tiles-1x4">
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=1" alt="1" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=2" alt="2" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=3" alt="3" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=4" alt="4" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=5" alt="5" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=6" alt="6" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=7" alt="7" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=8" alt="8" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=9" alt="9" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=10" alt="10" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=11" alt="11" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=12" alt="12" /></li>
			</ul>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Tiles-1x6">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (1x6)</a>
		<div class="tb-content">
			<ul class="tiles tiles-1x6">
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=1" alt="1" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=2" alt="2" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=3" alt="3" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=4" alt="4" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=5" alt="5" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=6" alt="6" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=7" alt="7" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=8" alt="8" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=9" alt="9" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=10" alt="10" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=11" alt="11" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=12" alt="12" /></li>
			</ul>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Tiles-2x2">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (2x2)</a>
		<div class="tb-content">
			<ul class="tiles tiles-2x2">
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=1" alt="1" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=2" alt="2" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=3" alt="3" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=4" alt="4" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=5" alt="5" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=6" alt="6" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=7" alt="7" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=8" alt="8" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=9" alt="9" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=10" alt="10" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=11" alt="11" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=12" alt="12" /></li>
			</ul>
		</div>
	</div>
	<div class="togglebox" id="UI-Elemente-Tiles-2x3">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo (2x3)</a>
		<div class="tb-content">
			<ul class="tiles tiles-2x3">
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=1" alt="1" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=2" alt="2" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=3" alt="3" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=4" alt="4" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=5" alt="5" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=6" alt="6" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=7" alt="7" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=8" alt="8" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=9" alt="9" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=10" alt="10" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=11" alt="11" /></li>
				<li class="tile"><img src="//dummyimage.com/1920x720/666/ddd.png&text=12" alt="12" /></li>
			</ul>
		</div>
	</div>
	<section class="block" id="UI-Elemente-Togglebox">
		<section class="block-content">
			<h3>Togglebox</h3>
			<p>Auf-/Zuklapp-Element</p>
		</section>
	</section>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<div class="togglebox">
				<a class="tb-subject" href="#" data-jmname="togglebox">Lorem ipsum dolor</a>
				<div class="tb-content">
					<h5>Lorem ipsum dolor sit amet</h5>
					<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
			<div class="togglebox">
				<a class="tb-subject" href="#" data-jmname="togglebox" data-jmconfig="[{'url': '/ajax-files/togglebox.html'}, {}]">Lorem ipsum dolor (ajax)</a>
				<div class="tb-content"></div>
			</div>
		</div>
	</div>
</div>
<h2 id="SocialMedia">SocialMedia</h2>
<div class="demo-section">
	<section class="block" id="SocialMedia-Facebook">
		<section class="block-content">
			<h3>Facebook-Like</h3>
			<p>Facebook-Like-Element</p>
		</section>
	</section>
	<div class="togglebox">
		<a class="tb-subject" href="#" data-jmname="togglebox">Demo</a>
		<div class="tb-content">
			<div class="fb-plugin" data-jmname="show-html-comment-only-desktop" data-jmdominit="true">
				<!-- comment in by JS <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fayyildiz.de&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;locale=de_DE&amp;appId=203789616307387" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 130px; height:21px;" allowTransparency="true"></iframe>-->
			</div>
		</div>
	</div>
</div>
