
@{
    ViewBag.Title = "Index";
}

<h2>Business Managers Test</h2>
<p>Testseite für die beiden Manager:</p>
<ul>
	<li>@Html.ActionLink("Important Manager", "Important")</li>
	<li>@Html.ActionLink("Lame Manager", "Lame")</li>
</ul>

