/*------------------------------------*\
    $SOCIAL_MEDIA
\*------------------------------------*/

/**
 * $FB-PLUGIN...........................Facebook Plugin
**/





/*------------------------------------*\
    $FB_PLUGIN
\*------------------------------------*/

.fb-plugin {
	display: none;

	@include bp-l {
		@include element-inner-default;
		@include column(2);
		display: block;
		float: right;
		margin-top: $default-spacing;

		&> iframe {
			float: right;
		}
	}
}





/*------------------------------------*\
    
\*------------------------------------*/