<div class="row">
	<h1>JMTools Administration Bereich.</h1>
	<p>Hier können Seiten mit Funktionen oder Informationen für den technischen Betrieb hinterlegt werden.</p>
	<hr/>
	<h4>Frontend</h4>
	<ul>
		<li><a href="@Url.Action("UpdateFrontEndCacheKey")" class="link">Frontend-cachekey aktualisieren</a></li>
	</ul>
	<hr/>
    <h4>Backend</h4>
    <ul>
		<li><a href="@Url.Action("EventTracing")" class="link">EventTracing administrieren</a></li>
	</ul>
	<hr/>
</div>

