/*------------------------------------*\
	$ANIMATION
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * .....Mixin animation
 * .....Mixin keyframes
 * PARALLAX............................Container Properties for Parallax Elements
 * .....parallax-img...................Parallax-Image
 * .....parallax-inner.................Parallax-Image Container Element
 * FADE................................Fade Properties
 * .....fade-in........................Element Fade-In
 * SLIDE...............................Slide Properties
 * .....slide-in.......................Element Slide-In/Out
 * SCROLL-ANIM.........................Scroll-Animation
**/





/*------------------------------------*\
	$GENERIC
\*------------------------------------*/

@mixin animation($animate...) {
	$max:			length($animate);
	$animations:	'';

	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};

		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	
	-moz-animation:    $animations;
	-o-animation:      $animations;
	-webkit-animation: $animations;
	animation:         $animations;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}

	@-moz-keyframes #{$animationName} {
		@content;
	}

	@-o-keyframes #{$animationName} {
		@content;
	}

	@keyframes #{$animationName} {
		@content;
	}
}





/*------------------------------------*\
	$PARALLAX
\*------------------------------------*/

.parallax {
	overflow: hidden;
	position: relative;

	// Parallax-Image
	.parallax-img {
		/**/
	}

	// Prallax-Inner-Container
	.parallax-inner {
		/**/
	}
}





/*------------------------------------*\
	$FADE
\*------------------------------------*/

.fade-in {
	@include transition(opacity .6s linear);
	opacity: 0;

	&.show {
		opacity: 1;
	}
}





/*------------------------------------*\
	$SLIDE
\*------------------------------------*/

.slide-in {
	@include transition(left .9s linear);
	left: -200%;
	position: relative;

	&.show {
		left: 0;
	}
}





/*------------------------------------*\
	$SCROLL-ANIM
\*------------------------------------*/

.scroll-anim {
	position: absolute;
	z-index: 999;
}




/*------------------------------------*\
	
\*------------------------------------*/