/*------------------------------------*\
    $FORMS
\*------------------------------------*/

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

label {
	display: block;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

input, select, textarea {
    max-width: 100%;
    min-width: 100%;
	width: 100%;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*------------------------------------*\
    
\*------------------------------------*/