/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * LIST_ITEM...........................List Item <li>
 * UNORDERED_LIST......................Unordered List <ul>
 * ORDERED_LIST........................Ordered List <ol>
 * DEFINITION_LIST.....................Definition List <dl>
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

// Default List-Styling - <ul>|<ol>
%default-list {
	@extend %element-text-default;
	list-style: none;
	list-style-position: outside;
}





/*------------------------------------*\
    $LIST_ITEM
\*------------------------------------*/

li {
	/**/
}





/*------------------------------------*\
    $UNORDERED_LIST
\*------------------------------------*/

ul {
	@extend %default-list;
}





/*------------------------------------*\
    $ORDERED_LIST
\*------------------------------------*/

ol {
	@extend %default-list;
}





/*------------------------------------*\
    $DEFINITION_LIST
\*------------------------------------*/

dl {
	overflow: hidden;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}





/*------------------------------------*\
    
\*------------------------------------*/