/*------------------------------------*\
    $LISTS
\*------------------------------------*/

/**
 * GENERIC.............................Variables/Placeholder
 * LIST_ITEM...........................List Item <li>
 * UNORDERED_LIST......................Unordered List <ul>
 * ORDERED_LIST........................Ordered List <ol>
 * DEFINITION_LIST.....................Definition List <dl>
**/





/*------------------------------------*\
    $GENERIC
\*------------------------------------*/

// Default List-Styling - <ul>|<ol>
%list {
	@extend %as-list;
	@extend %as-list--typeset;
	list-style: none;
	list-style-position: outside;
}





/*------------------------------------*\
    $LIST_ITEM
\*------------------------------------*/

li {
	&:last-child {
		margin-bottom: 0;
	}
}




/*------------------------------------*\
    $UNORDERED_LIST
\*------------------------------------*/

ul {
	@extend %list;
}





/*------------------------------------*\
    $ORDERED_LIST
\*------------------------------------*/

ol {
	@extend %list;
}





/*------------------------------------*\
    $DEFINITION_LIST
\*------------------------------------*/

dl {
	overflow: hidden;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}





/*------------------------------------*\
    
\*------------------------------------*/