/*------------------------------------*\
    $LISTS
\*------------------------------------*/

%list {
	list-style: none;
	list-style-position: outside;
}

/*------------------------------------*\
    $ORDERED_LIST
\*------------------------------------*/

ol {
	@extend %list;
}

/*------------------------------------*\
    $UNORDERED_LIST
\*------------------------------------*/

ul {
	@extend %list;
}

/*------------------------------------*\
    $DEFINITION_LIST
\*------------------------------------*/

dl {
	overflow: hidden;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 0;
}

/*------------------------------------*\
    
\*------------------------------------*/