/*------------------------------------*\
    $MAIN
\*------------------------------------*/

/**
 * TEXT_SELECTION......................Background & Text color of selected Text
 * HTML................................The <html> Element
 * BODY................................The <body> Element
 * PAGE_WRAPPER........................Content Wrapper
**/





/*------------------------------------*\
    $TEXT_SELECTION
\*------------------------------------*/

::-moz-selection {
	background: $theme-selection-bg;
	color: $theme-selection-fg;
	text-shadow: none;
}

::selection {
	background: $theme-selection-bg;
	color: $theme-selection-fg;
	text-shadow: none;
}





/*------------------------------------*\
    $HTML
\*------------------------------------*/

html {
	background-color: $theme-body-bg;
	color: $theme-body-fg;
	font: 100% $font;
	font-weight: 100;
	line-height: em-font($base-line-height);
	-ms-text-size-adjust:		100%;
	-webkit-text-size-adjust:	100%;
}





/*------------------------------------*\
    $BODY
\*------------------------------------*/

body {
	position: relative;
	width: 100%;

	@media print {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}

	// DEBUG BREAKPOINT INFO "variables" -> $bp-debug
	@if $bp-debug == true {
		&:before {
			@include element-default-padding;
			@include as-heading__medium;
			@include position(0, 0, '', 0);
			background-color: rgba(0,0,0, .75);
			border-bottom: 1px solid $white;
			color: $white;
			content: "0";
			position: fixed;
			text-align: center;
			z-index: 100000000000;

			@include bp-xs {
				content: "XS";
			}

			@include bp-s {
				content: "S";
			}

			@include bp-m {
				content: "M";
			}

			@include bp-l {
				content: "L";
			}

			@include bp-xl {
				content: "XL";
			}

			@include bp-xxl {
				content: "XXL";
			}
		}
	}
}





/*------------------------------------*\
    $PAGE_WRAPPER
\*------------------------------------*/

.page {
	@include baseline-grid;
	background-color: $theme-page-bg;
	color: $theme-page-fg;
	margin: 0 auto;
	max-width: $layout-maxwidth;
	overflow: hidden;
	width: 100%;
}





/*------------------------------------*\
    
\*------------------------------------*/