@using System.Web.Mvc.Html
@using JM.Foundation.Mvc.Helper
@model Tile
<li>
	@Html.LabelFor(m => m.Content)
	<div class="input">
		@Html.TextAreaFor(m => m.Content, new { rows=8, cols=20, @class="editor"})
	</div>
</li>
<li>
	@Html.PartialFor("ImageRegion", m => m.Image)
</li>