<div class="row">
	<div class="col-lg-12">
		<h1>JMDemo Bereich.</h1>
		<p>Hier werden die Funktionen von verschiedenen entwickelten Modulen demonstriert, sowie Einstellungsmöglichkeiten und Vorbedingungen zum Einsatz.</p>
		<h2>JM.Foundation<small style="color: #87cefa"><span class="glyphicon glyphicon-asterisk"></span></small></h2>
		<p>Foundation bietet einige Grundfunktionen für die Webapplikation an, die von allen weiteren Modulen genutzt wird.</p>
		<div class="btn-group">
			<a class="btn btn-default" href="@Url.Action("JM-Foundation", "Module")">mehr</a>
		</div>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-6">
		<h2>Grafische Effektdemo <small style="color: #d2691e"><span class="glyphicon glyphicon-tag"></span> DEMO</small></h2>
		<p>Demonstration von grafischen Effekten für JBS</p>
		<div class="btn-group">
			<a class="btn btn-default" href="@Url.Action("Effekte", "Module")">mehr</a>
		</div>
	</div>
	<div class="col-lg-6">
		
	</div>
</div>

