/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

/**
 * Grid-Column..........................Grid-System Column
 * Grid-Row.............................Grid-System Row
 * Grid-System..........................Using the Grid-System
**/





/*------------------------------------*\
    $GRID_COLUMN
\*------------------------------------*/

.col {
	@include column(12);
}





/*------------------------------------*\
    $GRID_ROW
\*------------------------------------*/

%row {
	@include row;

	.col {
		@include column(12);
	}
}





/*------------------------------------*\
    $GRID_SYSTEM
\*------------------------------------*/

.col-2 {
	@include bp-m {
		@include column(6);
		clear: none;
	}

	@include bp-l {
		@include column(6);
	}
}

.col-3 {
	@include bp-m {
		@include column(6);
		clear: none;
	}

	@include bp-l {
		@include column(4);
	}
}

.col-4 {
	@include bp-m {
		@include column(4);
		clear: none;
	}

	@include bp-l {
		@include column(3);
	}
}




/*------------------------------------*\
    
\*------------------------------------*/

.row {
	@extend %row;
}

// 2 Cols
.row2 {
	@extend %row;

	.col {
		@include bp-m {
			@include column(12);
		}

		@include bp-l {
			@include column(6);
		}
	}
}

// 3 Cols
.row3 {
	@extend %row;

	.col {
		@include bp-m {
			@include column(12)
		}

		@include bp-l {
			@include column(4);
		}
	}
}

// 4 Cols
.row4 {
	@extend %row;

	.col {
		@include bp-m {
			@include column(6)
		}

		@include bp-l {
			@include column(3);
		}
	}
}

// 5 Cols
.row5 {
	@extend %row;

	.col {
		@include bp-m {
			@include column(4);
		}

		@include bp-l {
			@include column(2.4);
		}
	}
}

// 6 Cols
.row6 {
	@extend %row;

	.col {
		@include bp-m {
			@include column(4)
		}

		@include bp-l {
			@include column(2);
		}
	}
}





/*------------------------------------*\
    
\*------------------------------------*/