<JM.SiteConfig>
	<!-- Konfiguration für Server / Domain -->
	<Server
		internalHost=""
		externalHost=""
		primaryDomain="www.joinmedia.de"
		domains=""
	/>
	<!-- Pfad zu den Templates bitte absolut vom Root mit führendem "/" -->
	<Templates>
		<add id="1" name="default" path="/template/default" active="false"/>
		<add id="2" name="default-onepage" path="/template/default-onepage" active="false"/>
	</Templates>
</JM.SiteConfig>