<piranha>
	<settings>
		<managerNamespaces value="" />
		<disableManager value="false" />
		<passiveMode value="false" />
		<prefixlessPermalinks value="true" />
	</settings>
	<providers>
		<mediaProvider value="Piranha.IO.LocalMediaProvider, Piranha" />
		<mediaCacheProvider value="Piranha.IO.LocalMediaCacheProvider, Piranha" />
		<cacheProvider value="Piranha.Cache.WebCacheProvider, Piranha" />
		<logProvider value="joinmedia.Controllers.EtwLogProvider, joinmedia" />
	</providers>
</piranha>